<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{pagina.titulo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
          <td style="padding: 10px 0 30px 0;">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                  <tr>
                    <td bgcolor="#FEC00F" align="center" style="padding: 15px; color: #383838; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                        <div style="position:relative" >
                          <img src="https://pormayor.pe/img/logoNegativo.png" alt="logo-pormayor" style="display: block;" height="60" />

                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="background-image: url('https://pormayor.pe/img/correoTienda_1.jpg');height:340px;color:#121212;">
                        <p style="padding-top: 150px;font-size: 16px; font-weight: bold; font-family: Arial, sans-serif;width:270px;margin: 0 auto;">{{nombre_usuario|upper}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 20px 0px 20px 0px;font-size: 15px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7)">
                        ¡Gracias por registrarte en Pormayor <b>{{nombre_usuario|upper}}</b>!<br><br>
                        Es momento de hacer crecer tu negocio.
                    </td>
                  </tr>
                  <tr>
              <td style="text-align: center">
                <big style="font: 16px/18px Arial, Helvetica, sans-serif;">
                  <a href="//pormayor.pe/usuario/login" target="_blank" style="border: none;background-color: #21478F;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;padding: 0 1rem;-webkit-tap-highlight-color: transparent;box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);text-decoration: none;font-size: 0.9rem; color: white;">CREA TU PRIMER PRODUCTO</a>
                </big>
                <br><br><br>
              </td>
            </tr>
            <tr>
                    <td bgcolor="#ffdc97" align="left" style="padding: 10px 20px;font-size: 18px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7);border-radius: 5px 5px 0px 0px">
                        Con Pormayor puedes...
                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="padding: 20px 20px;font-size: 14px;line-height: 25px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7);">
                        <table>
                          <tbody>
                          <tr>
                            <td>
                              <img src="https://pormayor.pe/img/correoTienda_2.png" alt="logo-pormayor" style="display: block;" width="100" />
                            </td>
                            <td style="padding-left: 50px;">
                              Añadir precios diferentes a tus productos dependiendo de la cantidad que te vayan a comprar
                            </td>
                          </tr>
                          <tr>
                            <td><br></td>
                          </tr>
                          <tr>
                            <td>
                              <img src="https://pormayor.pe/img/correoTienda_3.png" alt="logo-pormayor" style="display: block;" width="100" />
                            </td>
                            <td style="padding-left: 50px;">
                              Vender directamente tus productos, o cotizarlos
                            </td>
                          </tr>
                          <tr>
                            <td><br></td>
                          </tr>
                          <tr>
                            <td>
                              <img src="https://pormayor.pe/img/correoTienda_4.png" alt="logo-pormayor" style="display: block;" width="100" />
                            </td>
                            <td style="padding-left: 50px;">
                              Sentirte seguro gracias a nuestro metodo de <a href="https://pormayor.pe/legal/compra_segura" style="text-decoration:none;color: #21478F;">CompraSegura</a> para transacciones
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 20px 0px 20px 0px;font-size: 15px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7)">
                        Si tienes alguna duda o deseas más información, puedes consultar nuestro <b><a href="https://pormayor.pe/Legal/centro" style="text-decoration:none;color: #21478F;">Centro de ayuda</a></b>
                    </td>
                  </tr>
                  <tr>
              <td bgcolor="#0D0D0D" style="padding: 20px 30px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                          &reg; 2018 Copyright <a href="https://pormayor.pe" style="color: #21478F;"><b>pormayor.pe</b></a><br/>
                        </td>
                        <td align="right" width="25%">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                  <a href="https://www.instagram.com/pormayor.pe/?hl=es-la" style="color: #ffffff;" target="_blank">
                                    <img src="https://pormayor.pe/img/instaW.png" alt="Twitter" width="25" height="25" style="display: block;" border="0" />
                                  </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                  <a href="https://www.facebook.com/pormayoroficial/" style="color: #ffffff;" target="_blank">
                                    <img src="https://pormayor.pe/img/faceW.png" alt="Facebook" width="25" height="25" style="display: block;" border="0" />
                                  </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                    <a href="https://www.youtube.com/channel/UCgCUpeiwXV1-8BphKl6ut0Q?view_as=subscriber" style="color: #ffffff;" target="_blank">
                                      <img src="https://pormayor.pe/img/youtubeW.png" alt="youtubeW" width="25" height="25" style="display: block;" border="0" />
                                    </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                    <a href="mailto:contacto@pormayor.pe" style="color: #ffffff;" target="_blank">
                                      <img src="https://pormayor.pe/img/mailW.png" alt="Correo" width="25" height="25" style="display: block;" border="0" />
                                    </a>
                                </td>
                              </tr>
                          </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="color:rgba(255,255,255,0.6) ;padding: 15px 0px 10px 0px;font-family: Arial, sans-serif; font-size: 12px;line-height: 20px">
                        Las mejores ofertas en productos al pormayor estan con nosotros, el primer megamercado mayorista virtual del Perú.
                    </td>
                    </tr>
                  </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>