<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{pagina.titulo}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
          <td style="padding: 10px 0 30px 0;">
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                  <tr>
                    <td align="center">
                        <a target="_blank" href="//pormayor.pe/usuario/login/sin_url/publicidad">
                         <img src="https://pormayor.pe/img/promoComprador_1.jpg"  style="display: block;"  />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td><br></td>
                  </tr>
            <tr>
                    <td bgcolor="#d4d4d4" align="left" style="padding: 10px 20px;font-size: 18px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7);border-radius: 5px 5px 0px 0px">
                        Nuestras mejores promociones
                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="padding: 20px 10px 0px 20px;font-size: 14px;line-height: 25px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7);">
                        <table>
                          <tbody>
                          <tr>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-345-licuadora-oster-modelo--4134-053-clasica-azul">
                                <img src="https://pormayor.pe/img/Ofertazo345.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-350-extractor-de-jugos-oster-fpstje318r">
                                <img src="https://pormayor.pe/img/Ofertazo350.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-303-reproductor-blu-ray-panasonic-dmp-bd94pu-k-reproductor-de-blu-ray-usb-wi-fi-color-negro">
                                <img src="https://pormayor.pe/img/Ofertazo303.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                          </tr>
                          <tr >
                            <td colspan="3" style="padding: 10px 0px">
                              <a target="_blank" href="//pormayor.pe/especial/verano-de-ofertas">
                                <img src="https://pormayor.pe/img/campana_banner_mobile.jpg" style="display: block;" width="600" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-325-celular-lg-stylus-3-lg-m400f-16gb-3-ram---titan">
                                <img src="https://pormayor.pe/img/Ofertazo325.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-311-tablet-advance-intro-tr3945-7-quad-core-1gb-de-ram-8-gb">
                                <img src="https://pormayor.pe/img/Ofertazo311.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                            <td>
                              <a target="_blank" href="https://pormayor.pe/productos/dp/pormayor-307-olla-oster-6030">
                                <img src="https://pormayor.pe/img/Ofertazo307.jpg" style="margin: 0 auto; display: block;" width="180" />
                              </a>
                            </td>
                          </tr>
                    <tr >
                            <td colspan="3" style="padding: 10px 0px">
                              <a target="_blank" href="https://pormayor.pe/detalle/tv-y-video-televisores-al-por-mayor-12">
                                <img src="https://pormayor.pe/img/gif_index.gif" style="display: block;" width="600" />
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 20px 0px 10px 0px;font-size: 15px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7)">
                        Recuerda que tu compra <b>siempre</b> será segura gracias a nuestros <b><a href="https://pormayor.pe/Legal/compra_segura" style="text-decoration:none;color: #21478F;">métodos de compra</a></b> y protocolos de encriptación y seguridad de datos
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table align="center">
                        <tbody>
                          <tr>
                            <td>
                              <img style="" src="https://pormayor.pe/img/pagoA.png" height="100">
                            </td>
                            <td align="center" style="padding: 20px 0px 10px 0px;">
                                <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/visa.png" height="23">
                                <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/mc.png" height="23" style="padding: 0px 5px">
                                    <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/oh.png" height="23">
                                    <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/amex.png" height="23" style="padding: 0px 5px">
                                    <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/ripley.png" height="23">
                                    <img class="metodoPagoImg redondeo" src="https://www.culqi.com/images/cards/up.png" height="23" style="padding: 0px 5px">
                                    <img class="metodoPagoImg" src="https://www.culqi.com/images/cards/cmr.png" height="23">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="border-bottom:1px solid rgba(0,0,0,0.2)"></td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 20px 0px 20px 0px;font-size: 15px; font-family: Arial, sans-serif;color:rgba(0,0,0,0.7)">
                        Si tienes alguna duda o deseas más información, puedes consultar nuestro <b><a href="https://pormayor.pe/Legal/centro" style="text-decoration:none;color: #21478F;">Centro de ayuda</a></b>
                    </td>
                  </tr>
                  <tr>
              <td bgcolor="#0D0D0D" style="padding: 20px 30px">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                          &reg; 2018 Copyright <a href="https://pormayor.pe" style="color: #21478F;"><b>pormayor.pe</b></a><br/>
                        </td>
                        <td align="right" width="25%">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                  <a href="https://www.instagram.com/pormayor.pe/?hl=es-la" style="color: #ffffff;" target="_blank">
                                    <img src="https://pormayor.pe/img/instaW.png" alt="Twitter" width="25" height="25" style="display: block;" border="0" />
                                  </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                  <a href="https://www.facebook.com/pormayoroficial/" style="color: #ffffff;" target="_blank">
                                    <img src="https://pormayor.pe/img/faceW.png" alt="Facebook" width="25" height="25" style="display: block;" border="0" />
                                  </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                    <a href="https://www.youtube.com/channel/UCgCUpeiwXV1-8BphKl6ut0Q?view_as=subscriber" style="color: #ffffff;" target="_blank">
                                      <img src="https://pormayor.pe/img/youtubeW.png" alt="youtubeW" width="25" height="25" style="display: block;" border="0" />
                                    </a>
                                </td>
                                <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                    <a href="mailto:contacto@pormayor.pe" style="color: #ffffff;" target="_blank">
                                      <img src="https://pormayor.pe/img/mailW.png" alt="Correo" width="25" height="25" style="display: block;" border="0" />
                                    </a>
                                </td>
                              </tr>
                          </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="color:rgba(255,255,255,0.6) ;padding: 15px 0px 10px 0px;font-family: Arial, sans-serif; font-size: 12px;line-height: 20px">
                        Las mejores ofertas en productos al pormayor estan con nosotros, el primer megamercado mayorista virtual del Perú.
                    </td>
                    </tr>
                  </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>


