{% extends "layout/intranet/template_usu.twig" %}

{% block content %}
    <!-- Page Layout here -->
    <main class="container">
      <div class="card">
          <div class="card-content center">
            <span class="card-title">¡Hola {{usuario.nombre}}! Esperemos tengas un bonito día</span>          
          </div>
		</div>
    </main>
{% endblock %}

{% block script %}
{% endblock %}
