{% extends "layout/intranet/template_ven.twig" %}
{% block head %}
{% endblock %}
{% block content %}
  <main class="">
    <div class="card">
      <div class="card-content">
        <h4>Comisiones</h4>
        <div class="input-field">         
        <input type="number" name="monto" id="monto" value="">
        <label for="monto">SI VENDO:</label>
        </div>
        <span class="cuanto fontD"></span><br>
        <span class="xdia fontD"></span>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="{{base_url('public/')}}js/comisiones.js" type="text/javascript"></script>
{% endblock %}