{% extends "layout/intranet/template_lite.twig" %}
{% block head %}   
{% endblock %}

{% block content %}
<main class="container">
	<br class="hide-on-med-and-up"><br class="hide-on-med-and-up">
	<div class="row">
		<div class="col s12 l12">
			<div class="card">
				<div class="card-content ">
					<h4>TÉRMINOS Y CONDICIONES DE USO DEL SITIO</h4><br>
					<div class="divider"></div><br> 
 TITULARIDAD DE LA PÁGINA WEB<br>
El acceso, uso, operación, reserva, búsqueda, transacción y/o cualquier otra actividad que se realice en este sitio web se rige por los términos y condiciones descritos en el presente documento (en adelante y de forma conjunta, los “términos y condiciones”), así como por la legislación peruana aplicable y vigente.<br>
En tal sentido, conforme con lo dispuesto en la ley N° 29571 – “código de protección y defensa del consumidor” (en adelante el “CPDC”), informamos que el titular de la página https://pormayor.pe (en adelante, el “sitio web”) es pormayor.pe S.A (en adelante, La empresa), con RUC N° 20603706804, domiciliado en jirón Andahuaylas 251, tienda 209, distrito, provincia y departamento de lima, Perú.<br><br>
 USO DEL PORTAL<br>
La práctica de acceder, usar, operar, buscar, comprar, reservar y/o cualquier otra actividad que se realice en el sitio web se le denomina: “acceso”. Asimismo, a cualquier persona natural por sí misma o en representación de otra persona natural o jurídica que realice un acceso en el sitio web se le denominará: “usuario”.<br>
 Mediante el acceso al sitio web, el usuario manifiesta su conformidad con los mismos y acepta las condiciones que el sitio web tiene publicadas en cada momento. Si no estuviera conforme con los términos y condiciones, debe dejar de acceder al sitio web. Para ello, el usuario se obliga a leer detenidamente los términos y condiciones antes de iniciar sus transacciones.<br>
El acceso al sitio web es gratuito. La empresa se compromete a realizar su mejor esfuerzo para asegurar la disponibilidad del acceso durante las 24 horas del día así como para asegurar la ausencia de errores en cualquier transmisión de información que pudiera tener lugar durante el acceso; sin embargo, La empresa no se hace responsable cuando sus servicios se vean afectados por los mecanismos de acceso al sitio web empleados por el usuario, incluyendo, entre otros, dispositivos electrónicos, servidores de la conexión a través de la red de telecomunicaciones empleada por el usuario y motores de búsqueda.<br>
En cada acceso se aplicarán los términos y condiciones vigentes en ese momento. El uso continuado del sitio web supone su aceptación y sometimiento a los términos y condiciones vigentes. La empresa se reserva la facultad de efectuar, en cualquier momento y sin necesidad de autorización previa del usuario, modificaciones y actualizaciones del sitio web y sus contenidos, configuración y presentación, incluidos estos términos y condiciones y la “política de privacidad, tratamiento de datos personales y uso de cookies”, por lo que recomendamos su lectura antes de realizar el acceso al sitio web. Asimismo, La empresa se reserva, en todo momento, la facultad de decidir sobre la continuidad y/o cese de los servicios, productos y demás información de La empresa que se presenta a través del sitio web. En tal sentido, eventualmente, el acceso a los servicios o productos del sitio web podría –total y/o parcialmente- verse suspendido, restringido o limitado por la realización de trabajos de mantenimiento o administración de los productos, servicios y demás información publicada en el mismo.<br>
El usuario se compromete a realizar el acceso al sitio web de forma diligente, correcta y lícita; absteniéndose de cualquier acción que atente contra el buen funcionamiento del sitio web y/o impida la realización de sus fines. Entre las conductas que quedan expresamente prohibidas, sin que estas sean de carácter taxativo, se encuentran las siguientes:<br>
Utilizar el sitio web con fines fraudulentos o llevar a cabo conducta alguna que, involucrando al sitio web, dañe (o genere un riesgo de daño) a la imagen, los intereses y los derechos de La empresa o de terceros.<br>
Suprimir, eludir o manipular el "copyright" y demás datos identificativos de los derechos de sus titulares incorporados a los contenidos del sitio web, incluyendo los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren incluir dichos contenidos.
Acto alguno con objeto de dañar, inutilizar o sobrecargar el sitio web, o que impidiera, de cualquier forma, la normal utilización y funcionamiento del mismo.<br>
En caso de incumplimiento o sospecha razonable de incumplimiento de las prohibiciones citadas anteriormente, La empresa–con la finalidad de garantizar la seguridad, confidencialidad y buen funcionamiento del sitio web, así como de la información suya y de demás clientes o usuarios y proveedores involucrada-, se reserva el derecho a limitar, suspender o terminar el acceso de dicho usuario al sitio web, adoptando cualquier medida técnica y/o legal que sea necesaria para garantizar lo anteriormente señalado. Asimismo, la empresa se reserva la facultad de decidir, en cualquier momento, sobre la continuidad de los servicios, productos y demás información presentada a través del sitio web. Se sugiere tomar en consideración los numerales sobre “restricciones de algunos productos y protección de menores de edad” y “propiedad intelectual e industrial”.
Este sitio web es para ventas  exclusivamente a emprendedores que están iniciando, o ya tienen experiencia comercial, comercios minoristas, mayoristas, en general a  quienes quieran adquirir productos para fines comerciales.<br><br>
 REGISTRO DEL USUARIO<br>
Tomar en cuenta que, en caso de no encontrarse previamente registrado, el usuario deberá completar los datos que se le indiquen para la culminación de la orden de compra con el fin de hacer efectiva la adquisición de productos o servicios. Por ello, el usuario que ya se encuentre previamente registrado no tendrá que ingresar sus datos por cada compra posterior que realice.<br><br>
 DERECHOS DEL USUARIO EN EL SITIO WEB<br>
El usuario gozará de todos los derechos que le reconoce la legislación vigente aplicable en el territorio del perú, en particular: los establecidos en el código civil, cpdc, la ley N° 29733 – “ley de protección de datos personales” y el decreto supremos N° 003-2013-JUS “reglamento de la ley de protección de datos personales”; las cuales se mencionan en estos términos y condiciones.<br>
Finalmente, el solo acceso al sitio web donde se ofrecen determinados bienes y servicios, no implica ni genera per se una obligación de compra para el usuario. <br><br>
ACEPTACIÓN EN LOS PROCEDIMIENTOS DE COMPRA DEL SITIO WEB<br>
A través del sitio web, el usuario iniciará el proceso de compra de productos y servicios ofertados, mediante la emisión de una orden de compra (en adelante, la “orden de compra”), generada a través de la aceptación del usuario, por vía electrónica, y utilizando los mecanismos o procedimientos que el mismo sitio web ofrece para ello por medio de la sección "carro de compra".<br>
Toda orden de compra quedará condicionada a que la empresa la valide. En consecuencia, para toda operación que se efectúe en el sitio web, la confirmación, validación y/o verificación por parte de La empresa, será requisito previo e indispensable para la aceptación de la compra. Dicha validación comprenderá verificar lo siguiente (en adelante, la “validación”):<br>
Confirmar el precio y demás especificaciones del artículo contenido en la orden de compra.<br>
Que se dispone de los productos solicitados en stock desde el centro de despacho.<br><br>
Que el medio de pago seleccionado por el usuario sea válido y aceptado.<br>
Que los datos registrados en la cuenta de usuario del sitio web coinciden con los proporcionados al efectuar la orden de compra. <br><br><br>
MEDIOS DE PAGO:<br>
Los productos y servicios ofrecidos en el sitio web, salvo que se señale una forma diferente de pago para casos particulares u ofertas de determinados bienes o servicios, sólo podrán ser pagados utilizando los siguientes medios de pago:<br>
Para lima metropolitana<br>
Dentro de nuestra zona de cobertura para entregas a domicilio, aceptamos pago contra entrega en efectivo o transferencia bancaria. <br>
Para todo el resto del Perú<br>
Aplica únicamente pagos mediante transferencia bancaria a las cuentas de la empresa<br>
Para el caso de transferencia bancaria tenemos  en el BCP  ahorros N° 19193690777046, CCI 00219119369077704659, a nombre de Pormayor.pe SA; Interbank: cta. Cte. No. 2003003235724, CCI: 00320000300323572433 a nombre de Pormayor.pe SA. También puedes hacer tus pagos por aplicaciones móviles como Yape, Plin, Tunki, Lukita al 955866170 <br>
En los casos que realices depósitos mediante ventanilla del banco o un agente bancario, los costos que canal de pagos que se generen  serán asumidos por el usuario. <br><br>
SOBRE LAS IMÁGENES DE LOS PRODUCTOS<br>
Las descripciones, fotografías, representaciones gráficas o iconográficas y vídeos relativos a los productos ofertados por La empresa en el sitio web (en adelante, las “imágenes”), tienen por objeto aportar la mayor información posible. No obstante, el usuario debe tener en cuenta que tienen un propósito únicamente orientador y, en consecuencia, carecen de carácter exhaustivo. Las imágenes de los productos se exhiben únicamente con fines referenciales y son meramente ilustrativas; por lo tanto, podrían existir diferencias entre las imágenes y las dimensiones y características reales de los productos recibidos.<br>
Las imágenes de productos son exhibidas con la mayor nitidez y precisión posible; sin embargo, la visualización del color de los productos dependerá del monitor desde el que se acceda al sitio web.<br><br> 
PRECIO Y STOCK CONTENIDOS EN EL SITIO WEB<br>
Los precios y servicios exhibidos en el sitio web son exclusivos para las compras efectuadas únicamente en el sitio web y no son necesariamente aplicables para transacciones efectuadas en los locales de venta de La empresa. Los precios de los productos y servicios del sitio web, se encuentran vigentes únicamente mientras son ofertados a dicho precio o durante el plazo que se podría indicar en cada caso específico.<br>
La empresa podrá modificar cualquier información contenida en este sitio web, incluyendo las relacionadas con mercadería, servicios, precios, existencias, stock y condiciones, en cualquier momento y sin previo aviso. Así, en caso se seleccione un producto sujeto a alguna promoción y/u oferta y la misma quedará sin efecto antes de la conclusión de la transacción, la selección también concluirá con relación a dicho producto.<br>
Los precios de los productos consignados en el sitio web serán en moneda nacional soles (s/) y de igual manera los comprobantes de pago que se emitan.
A pesar de los mejores esfuerzos de La empresa, de manera excepcional, es posible que el precio y demás especificaciones de alguno de los productos ofrecidos en el sitio web no sea preciso y por ello el precio correcto del producto consignado en la orden de compra es más alto que el precio indicado en el sitio web, La empresa se contactará con el usuario inmediatamente para informarle este hecho a fin de realizar las modificaciones o soluciones respectivas.<br>
Si la empresa advirtiera algún error en el precio de los productos durante el procesamiento del pedido hasta antes del despacho, buscará la manera de informarle al usuario, dándole la opción de continuar con la compra de los productos al precio correcto o de cancelar su compra. Si la empresa no logra contactar con el usuario mediante los datos facilitados durante el proceso, la compra será cancelada y se informará al usuario por medios de comunicación que haya consignado. Tomar en cuenta que, si el error en el precio es obvio e inequívoco y podría razonablemente haber sido reconocido por cualquier usuario como una manipulación de los precios, La empresa no se encuentra obligada a ofrecerle los productos al precio incorrecto.
La empresa se reserva el derecho a realizar cambios en los precios de los productos en cualquier momento. Sin embargo, tales cambios no se aplicarán respecto de aquellas compras realizadas con éxito que hayan sido confirmadas mediante el procedimiento de validación y notificación al usuario, salvo que esos cambios se deban a que los precios reflejados eran incorrectos, en cuyo caso se aplicará lo señalado en el párrafo precedente. <br><br>
MECANISMOS DE ENTREGA DE PRODUCTOS<br>
El usuario o la persona encargada de recibir el producto deberá firmar el recibo de entrega (que para la situación excepcional de la pandemia se acepta una fotografía con la recepción del producto).  El cliente tiene el derecho y deber de revisar delante del transportista courier o vendedor de tienda la idoneidad del producto. En caso no sea lo que solicitó, no deberá recibirlo y solicitar el cambio respectivo. El servicio de instalación de productos no está incluido en los precios y por lo tanto constituye un servicio adicional, a menos que se establezca expresamente lo contrario.<br>
La entrega de los productos vendidos en el sitio web se podrá realizar mediante las modalidades que se indican a continuación:<br>
A) recojo en tienda:<br>
El recojo del producto en la tienda seleccionada por el usuario, no tendrá costo alguno.<br>
En caso el usuario optase por recoger el producto personalmente, deberá presentarse con su documento oficial de identidad original. En caso el usuario decida realizar el recojo del producto por medio de otra persona natural, el usuario deberá indicar el nombre completo y documento oficial de identidad de dicha persona natural en los datos consignados en la orden de compra (dentro del campo establecido para ello o en observaciones). Tomar en cuenta que la persona natural designada para el recojo deberá ser mayor de edad, mediante la presentación física de su documento identidad; asimismo, deberá presentarse en tienda con la siguiente documentación: (i) copia del DNI del usuario u otro documento de identificación con el que se realizó la compra en el sitio web; (ii) orden de compra impresa en la cual conste la confirmación de la compra; y, (iii) DNI u otro documento de identificación que permita verificar la identidad y nombre del apoderado que fue consignado por el usuario. La persona que recoja el producto en representación del usuario, deberá firmar el acta de entrega.<br>
Existe un punto de recojo en Jirón Andahuaylas 251, tienda 209, distrito, provincia y departamento de lima -el cual es local comercial de La empresa- en el horario de 10am a 6pm, de lunes a sábado. <br>
El tiempo máximo de recojo de los productos será de quince (15) días calendario contados a partir de la fecha en la cual se debía realizar el recojo si el pago fue hecho mediante transferencia bancaria. En caso de pago contra entrega y recojo en tienda, este plazo es de 48 horas máximo.  En caso no se recoja el producto dentro del plazo establecido, La empresa aplicará las siguientes penalidades: S/ 50.00 (cincuenta y 00/100 soles) por cada mes o fracción de mes, en caso el producto sea recogido antes de la finalización del mes.<br>
En caso el monto de la penalidad indicado en el párrafo precedente alcanzase o superase el precio de venta del producto, La empresa podrá resolver el contrato al amparo del artículo 1430 del código civil, cobrándose la penalidad generada hasta ese momento con el monto pagado por el usuario (precio de venta). En dicho caso, se dejará de computar la penalidad establecida y el contrato se entenderá finalizado, no correspondiendo la entrega del producto al usuario.<br>
B) servicio de envío o delivery:<br>
El cliente declara entender que el servicio de delivery es distinto al servicio de venta de producto y al servicio de instalación del producto; por lo cual, estos tienen precios independientes que no necesariamente se encuentran vinculados entre sí. Asimismo, el cliente declara conocer que la empresa podrá valerse de terceros independientes para los servicios de delivery.<br>
El radio del servicio de delivery se circunscribe únicamente en los distritos de lima metropolitana, excluyendo los siguientes distritos: Pachacamac, Ancón, Santa Rosa, Lurín, punta Hermosa, Punta Negra, San Bartolo, Santa María del Mar, Pucusana, Cieneguilla, Chaclacayo,  Lurigancho Chosica.<br>
El producto será entregado en la dirección consignada por el usuario en la orden de compra; siempre y cuando, el usuario o la persona que se encuentre presente en la dirección consignada por el usuario: (i) acredite ser mayor de edad mediante la presentación física de su documento identidad; y, (ii) suscriba el  recibo de entrega. De lo contrario, el producto será devuelto a tienda, procediéndose con informarle al cliente su ubicación, a fin de que pueda acercarse a recogerlo, aplicándose el plazo de tiempo establecido para el recojo de los productos en tienda, conforme a lo detallado en el literal a) anterior. <br>
Las entregas se hacen sola y únicamente en la puerta del domicilio, o la entrada del edificio principal. El transportista no está autorizado a ingresar a domicilios ni menos a hacer instalaciones ni hacer las pruebas de funcionamiento del producto. El usuario está en el deber y con el derecho de revisar detallado el producto recibido en presencia del courier y en caso de que no esté conforme con lo recibido, se sirva a no recibir y pedir el cambio o devolución de dinero.<br>
En caso de imposibilidad o limitante para la entrega de los productos conforme a lo indicado en el párrafo precedente, los productos serán devueltos la tienda desde donde fue despachado, procediéndose con informarle al cliente su ubicación, a fin de que pueda acercarse a recogerlos, aplicándose el plazo de tiempo establecido para el recojo de los productos en tienda, conforme a lo detallado en el literal a) anterior, salvo que el usuario desee contratar nuevamente el servicio de delivery, atendiendo nuevamente el procedimiento descrito en el presente literal y sin perjuicio de las penalidades que fueren aplicables en caso de superado el tiempo máximo de recojo<br>
El procedimiento de cálculo para el costo del servicio de delivery se realizará con arreglo a los siguientes criterios: <br><br>
DESTINO Y VOLUMEN DE COMPRA<br>
Para  toda Lima metropolitana, excepto los distritos excluidos según mapa de cobertura, es un costo que varía entre 10 a 20 soles, según volumen de compra calculado de forma automática en la página web de la empresa. La frecuencia de entregas es diaria, de lunes a sábado, excepto para Ventanilla, Puente Piedra y Carabayllo, que las entregas son de forma interdiaria (lunes, miércoles y viernes).<br>
La entrega del producto se realizará observando lo siguiente:<br>
Si la compra del producto en el sitio web se realiza antes de las 5.00pm de un día laborable, se puede hacer la entrega al día siguiente laborable en el rango horario de 10am a 8pm. No entregamos en horarios específicos, pudiendo llegar solamente en ese rango horario. El transportista notificará al usuario 15 o más minutos de anticipación para que confirme la posibilidad de recepcionar. A falta de respuesta por llamada o mensaje de whatsapp, se dará por concluido y prestado el servicio de delivery.<br>
Para  todo el Perú. Los envíos los hacemos por medio de empresas de transportes de carga que indique el usuario preferentemente (salvo que este muy congestionado ´para hacer las entregas o la empresa se encuentre fuera de servicio)<br>
El costo de envío implica el adecuado embalado, rotulado, traslado a las agencias de transportes ubicadas en el distrito de la Victoria, este es un costo único total por envio  de 10 soles  como tarifa plana.  No aplica esta tarifa para  otros distritos distintos a lo indicado. <br>
Los envios a provincias los hacemos mediante las empresas de carga, y cada una se rige mediante sus propias políticas, por lo que nuestra responsabilidad es entregar a la agencia que nos indique el cliente oportunamente, debidamente embalado y rotulado, y comunicar al cliente enviando una fotografía sobre el envio realizado. <br>
Sobre los costos de transporte de la ciudad de Lima hasta la ciudad de destino es de responsabilidad del cliente asumir y pagar ese costo, por lo que deberá pagar la tarifa que indique la empresa transportista cuando reciba su(s) paquetes.<br><br>  
PROPIEDAD INTELECTUAL E INDUSTRIAL<br>
Los derechos de propiedad intelectual sobre la disposición de los contenidos del sitio web (incluidos los derechos conexos), su diseño gráfico, los signos distintivos (marcas y nombres comerciales), los programas de ordenador subyacentes (incluidos los códigos fuente), así como los distintos elementos que integran el portal (textos, gráficos, fotografías, videos, etc.) Son de exclusiva titularidad de La empresa o, en su caso, La empresa dispone del derecho de uso y explotación de los mismos, y en tal sentido constituyen obras protegidas por la legislación de propiedad intelectual e industrial vigentes.<br> 
El acceso del sitio web por el usuario no supone la cesión de algún derecho de propiedad intelectual y/o industrial sobre el mismo, sus contenidos y/o los signos distintivos de La empresa. A tal efecto, mediante los presentes términos y condiciones, salvo en aquellos supuestos en los que esté legalmente permitido, queda expresamente prohibido al usuario la reproducción, transformación, distribución, comunicación pública, puesta a disposición, extracción y/o reutilización del sitio web, sus contenidos y/o los signos distintivos de La empresa.<br>
Queda expresa y terminantemente prohibida la reproducción de elementos o contenidos del sitio web realizada con ánimo de lucro o fines comerciales.<br><br> 
LIMITACIÓN DE RESPONSABILIDAD<br>
Como se expresó en el numeral denominado “uso del portal”, el usuario reconoce y acepta que el acceso del sitio web se realiza en todo momento bajo su entero riesgo y responsabilidad, por lo que La empresa no se responsabiliza del mal uso o acceso indebido que pueda realizarse del sitio web.
En particular, La empresa no será responsable de:<br>
El contenido de los sitios enlazados a través de los enlaces (links) incluidos dentro del sitio web.<br>
El sitio web podría albergar contenidos publicitarios o estar patrocinado. En ningún caso la empresa será responsable de la inexactitud, falsedad, irregularidades y/o actos que puedan considerarse contrarios a la moral, usos y buenas costumbres que puedan contener los materiales publicitarios de los anunciantes o de los patrocinadores; quienes asumen directamente toda responsabilidad por ello.<br>
Los daños y perjuicios de cualquier tipo causados en los equipos informáticos del usuario por virus, gusanos informáticos, troyanos o cualquier otro elemento dañino. El usuario reconoce que el uso de la red internet supone la asunción de un riesgo de que sus equipos informáticos puedan ser afectados por los elementos antes enunciados. A tal efecto, corresponde al usuario, en todo caso, la disponibilidad de herramientas adecuadas para la detección y eliminación de programas electrónicos dañinos. Para más información, el usuario puede acudir a su proveedor de servicios de acceso a internet para las soluciones pertinentes.<br>
Los daños y perjuicios de cualquier tipo producidos al usuario que tengan su causa en fallos o desconexiones en las redes de telecomunicaciones que produzcan la suspensión, cancelación o interrupción del acceso al sitio web. A este respecto, el usuario reconoce que el acceso al sitio web requiere de servicios suministrados por terceros ajenos al control de La empresa (a modo de ejemplo: operadores de redes de telecomunicaciones, proveedores de acceso, etc.); cuya fiabilidad, idoneidad, calidad, continuidad y funcionamiento, no corresponden a la empresa.<br><br>
ENLACES (LINKS)<br>
El sitio web puede incluir dispositivos técnicos de enlace (links) que permiten al usuario acceder a otras páginas y portales de internet (en adelante, los “sitios enlazados”). En estos casos, la empresa actúa como un prestador de servicios a terceros. En el supuesto de que el usuario considere que existe un sitio enlazado con contenidos inadecuados o ilícitos, rogamos lo comunique a La empresa a través de los siguientes correos electrónicos, para evaluar el caso y definir las acciones concretas: ventas@pormayor.pe <br>
La existencia de sitios enlazados en modo alguno implica que la empresa tenga conocimiento de los servicios y contenidos de los mismos. La existencia de dichos enlaces tampoco implica recomendación, promoción, identificación o conformidad de La empresa con las manifestaciones, contenidos o servicios proveídos a través de los sitios enlazados. En consecuencia, La empresa no se hace responsable del contenido de los sitios enlazados, ni de sus condiciones de uso, políticas de confidencialidad ni similares, siendo el usuario el único responsable de comprobarlos y aceptarlos cada vez que acceda y use los mismos.<br>
La empresa se reserva el derecho a prohibir o inutilizar en cualquier momento los enlaces publicados en el sitio web.<br><br>
FUERZA MAYOR<br>
La empresa no será responsable de cualquier incumplimiento o retraso en el cumplimiento de cualquiera de sus obligaciones en virtud de estos términos y condiciones, cuando ello sea causado por un hecho que escape de su control, caso fortuito, hecho determinante de terceros o fuerza mayor.
Fuerza mayor significa para el propósito de esta cláusula, cualquier acto o hecho fuera del control razonable de La empresa, incluyendo, sin limitación, huelgas, cierres patronales u otras medidas reivindicativas por terceros, por defecto del proveedor o retraso, conmoción civil, disturbios, invasión, ataque terrorista o amenaza de ataque terrorista, guerra (declarada o no), o amenaza o preparación para la guerra, incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural, o el fracaso de las redes de telecomunicaciones públicas o privadas.<br>
De darse un evento de fuerza mayor, que afecte al cumplimiento de las obligaciones de La empresa, las obligaciones pactadas y plazos serán automáticamente suspendidos hasta la culminación de los hechos de fuerza mayor. Una vez superado el evento de fuerza mayor los plazos continuarán con su cómputo.<br>
 ¿CÓMO CONTACTAR A LA EMPRESA<br>En caso de tener alguna pregunta, consulta o solicitud, por favor ponerse en contacto con el equipo de atención al cliente mediante los canales habilitados para ello: (i) en la sección del sitio web respectiva; (ii) al número celular o whatsapp 923500413, 955873746 (iii) por correo electrónico a la siguiente dirección: ventas@pormayor.pe, (iv) por correo postal o personándose a la tienda consignada anteriormente como dirección comercial.<br><br>
 GARANTÍAS<br>
El usuario declara conocer y aceptar la “política de devoluciones y garantías”, que se encuentra en el siguiente link: https://www.pormayor.pe/politica-de-devoluciones-y-garantias . Dicha política aplica para todas las ventas realizadas por la empresa. Asimismo, el usuario declara entender que la empresa no brinda otras garantías distintas a las especificadas en dicho documento.<br><br>
GENERALIDADES<br>
La empresa se reserva la facultad de transferir sus derechos y obligaciones bajo estos términos y condiciones a cualquier otra persona natural o jurídica, para lo cual el usuario presta su plena conformidad de manera anticipada.<br>
Cualquier contrato celebrado entre La empresa y el usuario a través del sitio web, se rige bajo estos términos y condiciones. El acceso, navegación y uso del sitio web y en su caso, el uso o contratación de los productos o servicios que sean ofrecidos a través del mismo, se hacen bajo la única y exclusiva responsabilidad del usuario.<br><br>
La falta de exigencia del cumplimiento de cualquier obligación, no supone desistir del derecho a solicitarlo posteriormente.<br>
Los términos y condiciones, así como cualquier otra cuestión relativa a la utilización de los servicios que la empresa preste por medio del sitio web, se regirán supletoriamente por lo dispuesto en la legislación peruana y las leyes mencionadas en el presente documento.<br>
El usuario está de acuerdo en que cualquier conflicto o litigio que surja con La empresa será sometido a la competencia y jurisdicción de los jueces y tribunales del distrito judicial de lima, renunciando de manera anticipada a cualquier otro fuero que pudiera corresponderle.<br>
En el caso de que alguna de las disposiciones contenidas en los presentes términos y condiciones fuera declarada nula, se procederá a retirar o sustituir la misma. En cualquier caso, dicha declaración de nulidad no afectará a la validez del resto de disposiciones recogidas en las presentes condiciones.
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
<script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.sticky-kit.min.js')}}"></script>
<script>
	$('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(event) {
	    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	      if (target.length) {
	        event.preventDefault();
	        $('html, body').animate({
	          scrollTop: target.offset().top - 90
	        }, 1500, function() {
	          var $target = $(target);
	          $target.focus();
	          if ($target.is(":focus")) { 
	            return false;
	          } else {
	            $target.attr('tabindex','-1');
	            $target.focus(); 
	          };
	        });
	      }
	    }
  	});

	$('#indiceLegal').change(function() {
		var nombreIndice = $(this).val();
	    $('html, body').animate({
          scrollTop: $("#"+nombreIndice).offset().top - 100
        }, 1500);
  	});

	$(".unidadSticky").stick_in_parent({inner_scrolling: false,offset_top: 62,}).on("sticky_kit:stick", function(e) {
        $(this).css("z-index",500);
     }).on("sticky_kit:bottom", function(e) {
        $(this).css("z-index",10);
     }).on("sticky_kit:unbottom", function(e) {
        $(this).css("z-index",500);
    });
</script>
{% endblock %}
