{% extends "layout/intranet/template_lite.twig" %}
{% block head %}   
{% endblock %}

{% block content %}
<main class="container">
	<br class="hide-on-med-and-up"><br class="hide-on-med-and-up">
	<div class="row">
		<div class="col s12 m8 l8">
			<div class="card">
				<div class="card-content ">
					<h4>TÉRMINOS Y CONDICIONES DE USO  DEL SERVICIO COMPRASEGURA</h4><br>
					<div class="divider"></div>
<br>
<div class="fontParrafo enfasisB">
<p>Los siguientes términos y condiciones (en adelante, los “Términos y Condiciones”) son aquellos que regulan la relación de toda persona (en adelante, el “Usuario”) con <b>Pormayor.pe</b>, estableciendo reglas válidas y vigentes que afecta a ambos obligatoriamente. De esa manera, se da inicio a un vínculo contractual vía Contrato de Adhesión de Prestación de Servicios de Pago (en adelante, el “Contrato CompraSegura”) con <b>Pormayor.pe</b> S.A. (en adelante “<b>Pormayor.pe</b>”), sus empresas controlantes y/o controladas, empresas conformen su grupo económico (actualmente o en el futuro), a quien podrá transferir su posición contractual o ceder sus derechos bajo términos del “Contrato CompraSegura”.</p>
<br>
<p>Los presentes Términos y Condiciones mencionados establecen derechos y responsabilidades tanto del Usuario como de <b>Pormayor.pe</b>, durante el procesamiento del servicio y al gestionar los pagos a través de la plataforma electrónica por la compra de cualquier producto o servicio relacionado o complementario que ofrezca o pueda ofrecer <b>Pormayor.pe</b> (en adelante el “Servicio de CompraSegura”).</p>
<br>
<p>Los “Servicios de CompraSegura” se encuentran vinculados al servicio principal brindado a través del Sitio web de <b>Pormayor.pe</b> (disponible en la URL: <a class="pormayorUnico-text" href="https://Pormayor.pe/">https://<b>Pormayor.pe</b>/</a>) (en adelante la “Plataforma”). Cualquier persona que lea y acepte los  Términos y Condiciones de Uso de <b>Pormayor.pe</b> y las demás políticas y principios vinculados por referencia, accesibles a través de la URL: <a class="pormayorUnico-text" href="https://Pormayor.pe/legal">https://<b>Pormayor.pe</b>/legal</a>, (en adelante el “Sitio”) será considerado automáticamente como Usuario del “Servicio de CompraSegura”, puesto que de manera simultánea estará aceptando los presentes Términos y Condiciones, caso contrario, la persona de no aceptar dichos Términos y Condiciones deberá abstenerse de utilizar los “Servicios”.</p>
</div>
<br>
<div class="divider"></div>

<h5 id="Capacidad">1. Capacidad.</h5>
<div class="fontParrafo enfasisB">
<p>Cualquier persona puede acceder al “Servicio de CompraSegura” ofrecido por <b>Pormayor.pe</b> siempre que cuente con capacidad legal para contratar a nombre y representación de una empresa, como así también de obligar a la misma en estos términos, convirtiéndose así en Usuario. Caso contrario no podrá acceder a los “Servicios de CompraSegura” las personas que no tengan esa capacidad y/o sean menores de edad.</p></div>
<br>
<div class="divider"></div>

<h5 id="Registracion">2. Registración de un Usuario.</h5>
<div class="fontParrafo enfasisB">
<p>Los “Servicios de CompraSegura” son creados para brindar una nueva alternativa o modalidad de pago al Usuario que accede a la “Plataforma” donde se brinda el servicio principal de <b>Pormayor.pe</b>. Es decir, cualquier persona que haya logrado su  registración en el Sitio de <b>Pormayor.pe</b>, esto significará el registro automático como Usuario de los “Servicios de CompraSegura”,  por lo tanto, solo aceptando los Términos y Condiciones de Uso de <b>Pormayor.pe</b> y convirtiéndose en Usuario de dichos servicios podrá acceder a los “Servicios de CompraSegura”. La información consignada al momento de la registración en el “Formulario” (en adelante el “Formulario”) podrán ser utilizadas para la ejecución de los “Servicios de CompraSegura”, siendo tomados como datos válidos y estando bajo la exclusiva responsabilidad del Usuario su revisión, actualización, garantizando y respondiendo sobre la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales, quedando <b>Pormayor.pe</b> libre de toda responsabilidad sobre el contenido del “Formulario”.</p>
<br>
<p>Con su registración el Usuario, autoriza expresamente el uso de diferentes medios para identificar y/o corroborar sus datos personales, reservándose <b>Pormayor.pe</b> el derecho de pedir cualquier tipo de documentación e información adicional para verificar la información personal proporcionada por un Usuario en el “Formulario, llegando a suspender temporal o definitivamente a aquellos Usuarios cuyos Datos Personales no pudieron ser confirmados. En consecuencia, <b>Pormayor.pe</b> se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar o suspender, temporal o definitivamente una registración ya existente, en caso de descubrir inconsistencias o datos falsos en la información consignados en el “Formulario”, o de detectarse actividades sospechosas sin generar en ningún caso para el Usuario (o potencial Usuario) derechos de indemnización o resarcimiento.</p></div>
<br>
<div class="divider"></div>

<h5 id="Acceso">3. Acceso a los  “Servicio de CompraSegura”.</h5>
<div class="fontParrafo enfasisB">
<p>
Logrando la registración a través de la “Plataforma” (Sitio web de <b>Pormayor.pe</b>) el Usuario contará con una Cuenta (en adelante “Cuenta <b>Pormayor.pe</b>”) personal mediante la cual podrá acceder automáticamente al “Servicio de CompraSegura” sin la necesidad de crear una nueva cuenta, es decir, el “Servicio de CompraSegura” se vinculará de manera automática a su “Cuenta <b>Pormayor.pe</b>”. Por lo tanto, el acceso al “Servicio de CompraSegura” es exclusivamente del Usuario titular de una “Cuenta <b>Pormayor.pe</b>”, siendo esta personal, única e intransferible, estando prohibida su venta, cesión o transferencia, incluyendo la reputación y calificaciones ganadas por cada uno de los Usuarios.</p>
<br>
<p>Es decir, que el Usuario al crear una “Cuenta <b>Pormayor.pe</b>” podrá realizar o recibir pagos por cada operación de venta y/o compra de bienes, a través de la cuenta recaudadora de <b>Pormayor.pe</b>. Cabe precisar que cualquier referencia a dinero se entenderá a la moneda de curso legal, a excepción de lo expresamente establecido.</p>
<br>
<p>La obligación de mantener la confidencialidad de la Clave de la “Cuenta <b>Pormayor.pe</b>” corresponde exclusivamente al Usuario, siendo el único responsable por todas las operaciones efectuadas a través de ella. En el caso de percatarse de algún uso no autorizado de su “Cuenta <b>Pormayor.pe</b>” sobre operaciones vinculadas al “Servicio de CompraSegura”, así como del ingreso o de intentos de ingreso por terceros no autorizados a la misma, inmediatamente notificará de manera adecuada el Usuario a <b>Pormayor.pe</b>.</p></div>
<br>
<div class="divider"></div>

<h5 id="Gestion">4. Gestión de pagos. Mandato</h5>
<div class="fontParrafo enfasisB">
<b>a) Contrato de Adhesión de Prestación de Servicios de Pago.</b><br>
<p>El Usuario y <b>Pormayor.pe</b> (en adelante las "Partes"), de forma voluntaria celebran de tiempo en tiempo contratos de gestión de pago, cada uno denominado Solicitud de Gestión de Pago (en adelante la “Orden de Pago”).</p>
<br>
<p>Dichas “Órdenes de Pago” están dirigidos a adquirir los servicios de gestión o procesamiento de pagos de acuerdo a las instrucciones detalladas por el Usuario (en adelante los “Servicios de CompraSegura”), tanto para realizar pagos o recibir pagos por cuenta y orden del Usuario, mediante el uso de la “Plataforma” brindada por <b>Pormayor.pe</b> que se encuentran alojado en el Sitio web de <b>Pormayor.pe</b> (https://<b>Pormayor.pe</b>/) y en todas las Tiendas Virtuales (http://subdominio.<b>Pormayor.pe</b>).</p>
<br>
<p>De manera expresa las Partes pactan que de ser ingresados oportunamente las “Órdenes de Pago” estarán sujetos a estos Términos y Condiciones de Uso. Asimismo, ambas Partes declaran ser contratistas independientes, sin relación societaria o comercial fuera de la pactada en el presente acuerdo por el “Servicio de CompraSegura”, comprometiéndose cada una de ellas a mantener indemne a la otra por cualquier reclamo derivado de las obligaciones impositivas, laborales o previsionales que estuvieran a su cargo. Quedando prohibido que una de las Partes induzca a error a un tercero sobre su carácter de parte contractual independiente de la otra, ni obligará a la otra parte enfrentarse a terceros. Por tanto, en caso de incumplimiento de esta obligación por el Usuario, <b>Pormayor.pe</b> podrá resolver el presente acuerdo de pleno derecho en cualquier momento y sin previa notificación del fundamento.</p>
<br>
<b>b) Mandato Irrevocable: Instrucciones respecto del pedido.</b><br>
<p>Un Usuario al generar una “Orden de Pago”, este representará un mandato irrevocable a <b>Pormayor.pe</b> para realizar las siguientes operaciones: i) Pagar por su cuenta y orden una determinada suma de dinero (en adelante, “monto total del pedido”) y/o; ii) Cobrar el “monto total del pedido” a su nombre y orden, sujeto a los presentes Términos y Condiciones de Uso.</p>
<br>
<p>Es decir, <b>Pormayor.pe</b> deja establecido de manera expresa que ha de utilizar el “monto total del pedido” depositados por el Usuario Comprador para fines instruidos por él, así como, el Usuario Vendedor recibirá el “monto total del pedido” por la venta de sus productos en las condiciones establecidos en los presentes Términos y Condiciones.</p>
<br>
<b>c) De la “Orden de Pago”.</b><br>
<p>Generada la “Orden de Pago” por parte del Usuario Comprador con las instrucciones de la Compra como: datos del producto, cantidad de los productos, nombre y dirección del destinatario, procediendo a generarse un “Código de Pago” con el cual, deberá depositar el “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b> en la entidad financiera elegida.</p>
<br>
<p><b>Pormayor.pe</b> en caso de identificar datos incompletos o discrepancias en las “Órdenes de Pago” de los Usuarios se reserva el derecho de no procesarlas o porque <b>Pormayor.pe</b> lo considere necesario, sin necesidad de justificar su decisión. No teniendo como obligación verificar la causa u obligación que originó la instrucción de pago ni las vinculadas a él, es decir, el Usuario asume la responsabilidad exclusiva del contenido de las instrucciones de pago y sus consecuencias.</p>
<br>
<b>d) Perfeccionamiento de la “Orden de Pago”.</b><br>
<p><b>Pormayor.pe</b> asumirá la responsabilidad u obligación con el perfeccionamiento de la “Orden de Pago” siempre que:</p>
	<ul class="browser-default">
		<li><b>Pormayor.pe</b> haya aceptado la “Orden de Pago” del Usuario.</li>
		<li>Haya recibido y se encuentre disponible la totalidad del “monto total del pedido” en su “Cuenta Recaudadora”.</li>
	</ul>

<b>e) Responsabilidades:</b><br>
<p>El Usuario reconoce de manera expresa y acepta que cada transacción realizada en la “Plataforma” con otros Usuarios las hace voluntariamente, consintiendo bajo su propio riesgo y responsabilidad, salvo aquellas vinculadas con el “Servicio de CompraSegura”. Quedando <b>Pormayor.pe</b> libre de toda responsabilidad de cualquier daño emergente, lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario o un tercero.</p>
	<ul class="browser-default">
		<li><b>Por la “Orden de Pago”</b>:Por los errores en las instrucciones dadas por el Usuario contenidas en las “´Órdenes de Pago” y/o pagos equivocados o incompletos, como la información relevante del destinatario o de la operación de pago, <b>Pormayor.pe</b> queda exento de responsabilidad y libre de no cubrir el importe comprometido en la Orden de Pago”. No teniendo como obligación verificar: la causa u obligación que originó la instrucción de pago ni las vinculadas a él; la existencia, calidad, cantidad, funcionamiento, estado, integridad o legitimidad de los productos ofrecidos, adquiridos o enajenados por los Usuarios; de la capacidad para contratar de los Usuarios; y, de la veracidad de los datos personales por ellos ingresados.</li>
		<br>
		<li><b>Por las instrucciones de Pago:</b> En el caso de incumplimiento de las obligaciones asumidos por el Usuario con cualquier persona vinculados con otros métodos de pagos diferente al “Servicio de CompraSegura” para realizar una operación en la “Plataforma”, <b>Pormayor.pe</b> no asume responsabilidad ni garantiza su cumplimiento.</li>
		<br>
		<li><b>Por las conductas del Usuario:</b> <b>Pormayor.pe</b> y sus sociedades relacionadas no serán responsables por las conductas tomadas por el Usuario que se originen o vinculen con información contenida en correos electrónicos falsos o que supuestamente estén vinculados con el “Servicio de CompraSegura”, y que hayan sido enviados por terceras personas sin relación alguna con <b>Pormayor.pe</b> ni sus sociedades relacionadas; es decir, <b>Pormayor.pe</b> no responderán por las consecuencias dañosas de tales conductas, ni por la circulación de los mencionados correos electrónicos falsos.</li>
		<br>
		<li><b>Por Falla en el Sistema</b>: <b>Pormayor.pe</b> no garantiza el acceso y uso continuado o ininterrumpido de su “Sitio”, puesto que eventualmente puede no estar disponible el sistema ya sea por dificultades técnicas o fallas de Internet u otra circunstancia ajena a <b>Pormayor.pe</b>. Sin embargo se procurará restablecerlo lo más rápido posible sin significar algún tipo de responsabilidad, en conclusión <b>Pormayor.pe</b> no asume responsabilidad alguna por error u omisión de los contenidos en el “Sitio”.</li>
		<br>
		<li><b>Por factores externos ajenos</b>:<b>Pormayor.pe</b> busca asegurar el cumplimiento de los diferentes plazos establecidos en los servicios que brinda, sin embargo, por factores en su mayoría externos a <b>Pormayor.pe</b>, se puede generar retrasos, por ello, el Usuario lo exime de toda responsabilidad por los inconvenientes o perjuicios derivados, salvo en casos de dolo o culpa grave de <b>Pormayor.pe</b>. Cabe precisar que ello es aplicable de la misma manera no solo en las operaciones dentro de la Plataforma, sino en todo lo vinculado a las operaciones desde la “Orden de Pago” hasta la transferencia del “monto total del pedido” al Usuario Vendedor.</li>
	</ul>
</div>
<div class="divider"></div>

<h5 id="Proceso">5. Proceso del “Servicio de CompraSegura”</h5>
<div class="fontParrafo enfasisB">
<p> “Código de Pago”, depósito del “monto total del pedido”, envío del pedido y transferencia del “monto total del pedido” al Usuario Vendedor.</p>
<br>
<b>a) Código de Pago.</b>
<p>El ser seleccionado el Producto a ser comprado por el Usuario Comprador, se elegirá la modalidad de pago entre: i) El pago directo al Usuario Vendedor, asumiendo la totalidad del riesgo en su operación; o ii) El “Servicio de CompraSegura”. Pero solo las compras hechas mediante el “Servicio de CompraSegura” están protegidas ante fraude, engaño u otro que pudiera realizar a causa propia del Usuario Vendedor, a razón que el “monto total del pedido” aún no está en manos de Usuario Vendedor hasta que el Usuario Comprador haga la conformidad. En los demás casos, cuando exista negociación directa entre el comprador y vendedor, la “Plataforma” no garantiza, quedando a su cuenta y riesgo de las partes.</p>
<br>
<p>Por ello, al elegir el “Servicio de CompraSegura”, se prosigue con lo descrito en cada uno de los pasos siguientes:</p>
<br>
<p><b>PRIMER PASO:</b> Al elegir como modalidad de pago el “Servicio de CompraSegura” todas las instrucciones contenidas en su orden de compra como: datos del producto, cantidad de los productos, valor de la compra, nombre y dirección  del destinatario (de quien va a recibir los productos), entidad financiera a depositar, procediéndose  a generarse un “Código de Pago” en la plataforma, con el cual deberá depositar o transferir el monto total de su compra en la Cuenta Recaudadora de <b>Pormayor.pe</b> en la entidad financiera elegida.</p>
<br>
<p>Al transferirse los datos de manera automática para generar el “Código de Pago”, el usuario vendedor es el encargado de verificar los datos consignados en él. Por los tanto, en caso de existir datos incompletos o discrepancias en las “Órdenes de Pago” de los Usuarios no asume responsabilidad alguna por la oportuna atención hasta que esté aclarado los datos faltantes.</p>
<br>
<b>SEGUNDO PASO: Pago del valor de la compra</b>
<br>
<b>b) Depósito del “monto total del pedido” a la “Cuenta Recaudadora”.</b>
<br>
<p>Al elegir el “Servicio de CompraSegura” y una vez generado el “Código de Pago”, el Usuario Comprador deberá depositar o transferir el “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b> en la Entidad Financiera elegida, utilizando los medios que crea conveniente.</p>
<br>
<p>Una vez realizada el depósito o transferencia a la “Cuenta Recaudadora”,  automáticamente en un plazo aproximado de dos horas se notifica al Usuario Vendedor para que realice el envío de lo comprado por el Usuario Comprador, quedando confirmado de esa manera la custodia del “monto total del pedido” depositado por el Usuario Comprador a la “Cuenta Recaudadora” de <b>Pormayor.pe</b>. Procediendo a notificar al Usuario Comprador vía correo electrónico y mensaje de texto a su número de contacto (en adelante SMS).</p>
<br>
<p>Se debe precisar que se establece como plazo máximo para realizar el depósito del “monto total del pedido” es de acuerdo a la cantidad de dias validos establecidos por  o usuario vendedor, especificado en la respuesta dada en la cotización entregada al usuario comprador. En caso no se cumpla con el depósito del “monto total del pedido” en el plazo establecido, dicha “Orden de Compra” generada será anulada automáticamente.</p>
<br>
<p>Con el objetivo de proteger adecuadamente el dinero contenido en su “Cuenta Recaudadora”, Por mayor.pe aplicará diferentes herramientas para la custodia adecuada del “monto total del pedido” desde el momento que es depositado.</p>
<br>
<b>c) Envío del pedido.</b><br>
<p>Una vez notificado por correo y SMS el Usuario Vendedor sobre el depósito del “monto total del pedido” realizado por el Usuario Comprador, realizará el envío del pedido mediante el medio de transporte de su elección, teniendo como plazo máximo de entrega del pedido 36 horas contados desde la notificación del depósito del “monto total del pedido”.</p>
<br>
<p><b>Pormayor.pe</b> notificará al Usuario Comprador sobre el envío de su pedido y alerta del plazo de 120 horas que tiene para confirmar su recepción y conformidad, contados desde el momento del pago efectivo realizado por el usuario comprador. <b>Pormayor.pe</b> notificará automáticamente (SMS y e-mail) a las 48 y 96 horas a ambas partes a fin que puedan hacer seguimiento de su pedido, y en caso corresponda a su calificación final de la operación.</p>
<br>
<p>Con el depósito del “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b> se da inicio de esta manera al plazo de 120 horas (5 dias) para realizar la calificación final de la operación, así como el plazo para interponer un reclamo en caso corresponda.</p>
<br>
<b>d) Transferencia del “monto total del pedido” al Usuario Vendedor.</b>
<p>Ya comunicado el Usuario Comprador del envío de su pedido, cabe la posibilidad de suceder los siguientes escenarios:</p>

<table class="bordered">
	<tbody>
		<tr>
			<td class="center"><b>Escenario 1:Recepción  y Confirmación a tiempo</b></td>
		</tr>
		<tr>
			<td class="center">El Usuario Comprador confirma la recepción y conformidad en el plazo o antes del plazo de 120 horas (5 días).
<b>Pormayor.pe</b> procede a transferir al Usuario Vendedor el “monto total del pedido” depositado por el Usuario Comprador descontando la comisión respectiva.</td>
		</tr>
		<tr>
			<td class="center"><b>Escenario 2:No hay  registro de Recepción  ni Confirmación</b></td>
		</tr>
		<tr>
			<td class="center">El Usuario Comprador no confirma en el plazo de 120 horas la recepción y conformidad del pedido, pese a las notificaciones enviadas al Usuario comprador por  <b>Pormayor.pe</b>, y al no haber confirmación de la recepción, vencido el plazo se entiende por recibido y se procede a realizar la transferencia del “monto total del pedido” depositado  por el Usuario Comprador  al Usuario Vendedor descontando la comisión respectiva.</td>
		</tr>
		<tr>
			<td class="center"><b>Escenario 3: Reclamo</b></td>
		</tr>
		<tr>
			<td class="center">El Usuario Comprador interpone reclamo en el plazo máximo de 120 horas de realizado el depósito del “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b>., dicho reclamo podrá sustentarse en las siguientes causas:<br>
<i>a)    Reclamo porque aún no llegó el pedido. </i><br>
<i>b)    Reclamo porque el pedido llegó malogrado, incompleto o es distinto a lo solicitado. </i><br>
Para mayor información ver líneas abajo: Reclamos y  Reporte de Problemas.</td>
		</tr>
	</tbody>
</table>
<br>
<p>La manera de transferir el “monto total del pedido” al Usuario Vendedor es a través de transferencia a una cuenta bancaria, la misma que fuese indicada por el Usuario Vendedor al momento de su registración en el “Sitio”. Dicha transferencia se ha de realizar en un plazo máximo de 24 horas contadas desde la recepción y confirmación del pedido por parte del Usuario Comprador.</p>
<br>
<p>De manera expresa el Usuario Vendedor al aceptar los presentes Términos y Condiciones, acepta y autoriza recibir el “monto total del pedido” depositados por otros Usuarios compradores por la compra de su o sus productos, aplicándole el descuento de la comisión del “Servicio de CompraSegura”.</p>
<br>
<b>e) Límites.</b><br>
<p><b>Pormayor.pe</b> se reserva el derecho de fijar un monto máximo por cada “Orden de Pago” en base a cualquier criterio que a futuro se establezca, los cuales podrán ser modificados en cualquier momento siguiendo para ello los lineamientos establecidos en el punto k) de la Cláusula 9 de los presentes Términos y Condiciones.</p>
<br>
<b>f) Obligaciones de los Usuarios durante las operaciones.</b><br>
<p>En una operación de compra el Usuario Vendedor será quien recibirá el “monto total del pedido”, como pago por la venta de un producto de parte del Usuario Comprador.</p>
<ul class="browser-default">
	<li>El Usuario Vendedor está obligado a enviar el producto comprado al Usuario Comprador.</li>
	<li>El Usuario Vendedor deberá realizar el envio a la brevedad posible, mantener comunicación activa con el usuario comprador, entregar el pedido exactamente como pidió el usuario comprador, y si hubiese cambios no sustanciales, estes deben ser previamente aceptados por el usuario comprador. También debe embalar adecuadamente el pedido. </li>
	<li>El costo del flete no esta incluido en la operación, siendo a falta de señalarse expresamente, que el usuario comprador lo asume a la llegada de su pedido en el lugar destino señalado. En caso usuario vendedor decida asumir los costos de flete, debe indicarlo en su tienda.</li>
	<li>El Usuario Comprador deberá de confirmar la recepción y conformidad en el plazo de 120 horas (5 días) o antes contados desde el depósito del “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b>.</li>
</ul>
<p>En caso de no cumplir lo indicado, se entiende como recibido y conforme con el producto, procediendo <b>Pormayor.pe</b> a transferir al Usuario Vendedor el “monto total del pedido” depositado por el Usuario Comprador descontando la comisión respectiva.</p> 
<br>
<b>g) Reversiones y anulación de “Orden de Pago”.</b><br>
<p>Un Usuario Comprador podrá revertir o anular una “Orden de Pago” dentro de las 24 horas de realizado el depósito o antes que el Usuario vendedor  realice el envío del producto,  lo que suceda primero. </p>
<br>
<p>Téngase presente que la reversión o anulación de la “Orden de Pago” de generar costos o gasto serán asumidos por el Usuario Comprador.</p>
<p>El Usuario Vendedor conservará la documentación que respalda toda la operación de venta de un producto efectuada a través de <b>Pormayor.pe</b>, inclusive aquella que pruebe el envío y entrega del producto, por el plazo mínimo de un (1) año contado a partir de la recepción de los Fondos.</p>
<br>
<b>h) Responsabilidad por el “monto total del pedido”.</b><br>
<p>Con el objetivo de proteger adecuadamente el dinero que fuera depositado en la “Cuenta Recaudadora” de <b>Pormayor.pe</b> abiertas en las Entidades Financieras con los cuales se ha establecido convenios, <b>Pormayor.pe</b> aplicará diferentes herramientas para la custodia adecuada del “monto total del pedido” desde el momento que es depositado.</p>
<br>
<p>Adicionalmente, el “monto total del pedido” al encontrarse en la “Cuenta Recaudadora” se encuentra debidamente protegido por el Fondo de Seguro de Depósito, quedando protegido de todo tipo de causas externas sobrevinientes. Sin perjuicio de los antes dicho, cabe precisar que es aplicable lo indicado líneas arriba en el punto e) de la cláusula 4.</p>
<br>
<p>De manera expresa los Usuarios eximen de toda responsabilidad a <b>Pormayor.pe</b>, sus vinculadas, filiales o subsidiarias, empresas controlantes y/o controladas, en caso de que la cuenta donde el “monto total del pedido” es depositado a <b>Pormayor.pe</b> se vea afectado por situaciones políticas y económicas que pudieran presentarse en el país, y que sean ajenas a <b>Pormayor.pe</b> o cualquier cambio legal o regulatorio que afecte la cuenta, entre otros motivos vinculados a las entidades financieras.</p>
</div>
<br>
<div class="divider"></div>

<h5 id="Boton">6. Botón pedidos, cotizar y comprar</h5>
<div class="fontParrafo enfasisB">
<p><b>Pormayor.pe</b> mediante el uso del botón de pedido, cotizar y comprar busca otorgar facilidades a los Usuarios para realizar operaciones dentro de la “Plataforma”. Considerándose de manera conjunta como herramientas de venta.</p><br>
<b>a) Herramienta de Venta.</b><br>
<p>Aceptando los presentes Términos y Condiciones y logrando la registración como Usuario en el Sitio, accede a las Herramientas de Ventas descritas, identificando a dos tipos de Usuarios: i) El Usuario Vendedor, quien usa las Herramientas de Venta para realizar venta de sus productos; ii) El Usuario Comprador, quien usa las Herramientas de Compra para comprar productos</p>
<br>
<b>b) Prohibiciones.</b><br>
Se prohíbe la utilización de las Herramientas de Venta, en cualquier sitio web que:
<ul class="browser-default">
	<li> Utilice datos de negocios de terceros, personas o empresas, sus marcas, logos, sin la debida autorización de su propietario, violando normas de protección de derechos de propiedad intelectual, piratería de software, etc.</li>
	<li> Mediante publicaciones ofertar productos prohibidos por los Términos y Condiciones y demás políticas de <b>Pormayor.pe</b>, leyes vigentes y administrativas, la moral y las buenas costumbres;</li>
	<li>Fomente o muestre un contenido sexual con menores de edad (18 años) y/o estén relacionados con pedofilia y/o pornografía y/o desnudos de menores, en cualquiera de las formas tanto real o simulados;</li>
	<li>Que muestre a menores de edad (18 años) contenidos en películas o fotografías de origen ilegal, sin el consentimiento de las personas participantes;</li>
	<li>Muestre actos de violencia de todo tipo, de discriminación, prostitución, lavado de dinero, tráfico de armas, de personas o de animales, u otras actividades ilegales;
Para conocer cuáles son los productos prohibidos para el Sitio ver: <a class="pormayorUnico-text" href="https://pormayor.pe/Legal/centro">Artículos prohibidos de <b>Pormayor.pe</b>. en el centro de ayuda</a></li>
</ul>
<p>En caso se sospeche, descubra e identifique el incumplimiento por parte de un Usuario con lo señalado en este apartado, <b>Pormayor.pe</b> se reserva el derecho de dar por terminado el “Contrato CompraSegura”, sin la necesidad de una notificación previa y de pleno derecho. También se aplica en caso que va en contra de la imagen de <b>Pormayor.pe</b>, sus miembros, controlantes, controladas, filiales o subsidiarias, funcionarios, empleados, directores, agentes, y/o sus usuarios y/o terceros. De la misma manera, se reserva el derecho de tomar las acciones judiciales o extrajudiciales pertinentes contra los responsables.</p> 
<br> 
<b>c) Códigos de las Herramientas de Venta.</b><br>
<p>Las formas de los Códigos son distintas, de acuerdo a la disponibilidad de <b>Pormayor.pe</b>, los cuales no podrán estar sujeto a modificación por parte de los Usuario. Sin embargo, <b>Pormayor.pe</b> se reserva el derecho de realizar actualizaciones o modificaciones de manera periódica en el contenido y diseño de las Herramientas de Venta, así como a las URL donde estén direccionados los Códigos. Y en caso, un Usuario incumpliese dicha prohibición <b>Pormayor.pe</b> se exime de responsabilidad frente a los daños y perjuicios generadas a otro Usuario o a un tercero.</p>
</div>
<br>
<div class="divider"></div>

<h5 id="marcas">7. Uso de marcas, logos y demás derechos de propiedad intelectual de los Vendedores.</h5>
<div class="fontParrafo enfasisB">
<p>Todo Usuario Vendedor autoriza a <b>Pormayor.pe</b> el uso gratuito y sin límite de tiempo de su nombre comercial, marcas, logos, símbolos, emblemas, colores y/o diseños del Usuario Vendedor facilitados a <b>Pormayor.pe</b> (en adelante, las "Marcas del Vendedor"), tanto para el uso por parte de <b>Pormayor.pe</b> o por cualquier vinculada o cesionario en acciones promocionales, publicitarias y/o comunicaciones relacionadas con el Servicio que ofrece <b>Pormayor.pe</b>. Cómo uso se considera exhibir, reproducir, difundir y/o publicar las marcas del Usuario Vendedor por cualquier medio de comunicación y en cualquier soporte, incluyendo en particular, no quedando limitado uso solo en el Sitio y/o Plataforma de <b>Pormayor.pe</b>, así como a los e-mails enviados a los Usuarios de la Plataforma de <b>Pormayor.pe</b>.</p>
</div>
<br>
<div class="divider"></div>

<h5 id="Reclamo">8. Reclamo</h5>
<div class="fontParrafo enfasisB">
<p>En virtud del punto d) de la cláusula 5 de los presentes Términos y Condiciones, el Usuario Comprador que no recibiera el producto habiendo depositado el “monto total del pedido” en la “Cuenta Recaudadora”, o hubiera recibido el producto malogrado, incompleto o es distinto a lo solicitado, tiene derecho a formular un reclamo antes de las 120 horas contabilizados desde realizado el depósito del “monto total del pedido” en la “Cuenta Recaudadora” de <b>Pormayor.pe</b>. En este caso surgen los siguientes casos:</p>

<table class="bordered">
	<tbody >
		<tr>
			<td class="center"><b>CASO 1:<br>NO LLEGÓ EL PRODUCTO</b></td>
		</tr>
		<tr>
			<td class="center">En este caso, <b>Pormayor.pe</b>  por medio de la “Plataforma” notifica por correo y SMS al Usuario Vendedor a hacer seguimiento del envío. Se retiene el pago hasta que confirme el Usuario Comprador sobre la recepción del producto. <br><br>
El Usuario Comprador podrá corroborar mediante llamada telefónica a la empresa de transportes sobre la veracidad de lo indicado por el Usuario Vendedor, asimismo, se podrá corroborar la recepción del producto llamando a la empresa de transportes sobre la veracidad de lo indicado por el Usuario Comprador.</td>
		</tr>
		<tr>
			<td class="center"><b>CASO 2:<br>PRODUCTO MALOGRADO, INCOMPLETO O ES DISTINTO A LO SOLICITADO</b></td>
		</tr>
		<tr>
			<td class="center">En este caso, <b>Pormayor.pe</b>  en un primer momento actuará como mediador para solucionar el problema, buscando un acuerdo entre las partes, pero en caso no se diera se procede con la devolución del “monto total del pedido” depositado al Usuario Comprador.<br><br></td>
		</tr>
	</tbody>
</table>

<table class="bordered">
	<tbody>
		<tr>
			<td><b>ACUERDO ENTRE PARTES</b></td>
			<td><b>DEVOLUCIÓN DEL “MONTO TOTAL DEL PEDIDO”</b></td>
		</tr>
		<tr>
			<td>
				<p><b>1)</b>  <b>Pormayor.pe</b>  se contactará con el Usuario Vendedor para solucionar la controversia.</p> <br>
<p><b>Pormayor.pe</b> retendrá la transferencia del “monto total del pedido” al Usuario Vendedor hasta que esté solucionada la controversia con la entrega del producto.</p><br>
<p>Y, finalmente el Usuario Comprador calificará la recepción y su conformidad en la “Plataforma”.</p>
			</td>
			<td>
				<p><b>2)</b>  El Usuario Comprador devuelve el pedido a la empresa de transporte, para ser enviado al Usuario Vendedor.</p><br>
<p>El Usuario Comprador ingresará en la “Plataforma” los datos de envío y se espera un máximo de 5 días (120 horas) para que el Usuario Vendedor de su conformidad de la mercadería devuelta.</p><br>
<p>El Usuario Vendedor confirma la recepción de la mercadería devuelta antes del plazo, o no haya confirmación aún en la plataforma vencido el plazo de 120 horas,  se devuelve el íntegro del dinero del comprador a la cuenta bancaria consignado en el “Formulario” de su registración.</p>
			</td>
		</tr>
	</tbody>
</table>
</div>
<br>
<p><b>Pormayor.pe</b> se reserva el derecho de iniciar automáticamente un reclamo al identificar que un Usuario Vendedor incumplió con la entrega de un producto que fue pagado utilizando la modalidad de pago “Servicio de CompraSegura” a través de la “Plataforma”, tomando como medida la retención de los Fondos hasta tanto sea resuelto dicho reclamo.</p>
<br>
<p>Asimismo, deberá revisarse: Reporte de Problemas.</p>
<br>
<div class="divider"></div>

<h5 id="Miscelaneas">9. Misceláneas</h5>
<div class="fontParrafo enfasisB">
<b>a) Declaraciones del Usuario. Usos Prohibidos.</b><br>
<p> Será tomada en calidad de declaración jurada la intención manifestada del Usuario que el objeto por el cual se emitirá la “Orden de Pago” no va en contra de la ley vigente aplicable, ni contra alguna actividad prohibida por la ley o los presentes Términos y Condiciones y/o de los Términos y Condiciones de Uso de <b>Pormayor.pe</b> y que pueda ser considerada fraudulenta o ilegal o sospechosa de serlo. Asimismo, está prohibido que:</p>
<ul class="browser-default">
	<li>El Usuario use los servicios de <b>Pormayor.pe</b> con el objetivo de realizar actos considerandos como delitos o que conlleven a cometer de manera directa o indirecta un delito generando en <b>Pormayor.pe</b> responsabilidades civiles o que infrinjan los presentes Términos y Condiciones y/o los Términos y Condiciones de Uso de <b>Pormayor.pe</b>.</li>
	<li>El Usuario use los servicios de <b>Pormayor.pe</b> para realizar una operación considerada como préstamo.</li>
</ul>
<p>El Usuario quien hará frente a cualquier reclamo o acción legal, administrativa, judicial o extrajudicial contra <b>Pormayor.pe</b> interpuesto como consecuencia de dicho uso por parte de uno o más Usuarios o algún tercero, quedando sin responsabilidad alguna <b>Pormayor.pe</b>, a sus miembros, controlantes, controladas, filiales o subsidiarias, funcionarios, empleados, directores, agentes, representantes y apoderados. De la misma manera, <b>Pormayor.pe</b> se reserva el derecho de tomar las acciones judiciales o extrajudiciales pertinentes contra los responsables.</p>
<br>
<p><b>Pormayor.pe</b> al sospechar o detectar un indicio de incumplimiento a las prohibiciones establecidas en los presentes Términos y Condiciones se reserva el derecho de rechazar, cancelar o suspender una “Orden de Pago”  actuando conforme lo establecido en la cláusula 10 y otros que correspondan de los Términos y Condiciones de Uso de <b>Pormayor.pe</b>.</p>
<br>
<b>b) Utilización del Servicio por cuenta propia.</b><br>
<p> Logrando la registración a través de la “Plataforma” (Sitio web de <b>Pormayor.pe</b>) el Usuario contará con una Cuenta (en adelante “Cuenta <b>Pormayor.pe</b>”) personal mediante la cual podrá acceder automáticamente al “Servicio de CompraSegura” sin la necesidad de crear una nueva cuenta, es decir, el “Servicio de CompraSegura” se vinculará de manera automática a su “Cuenta <b>Pormayor.pe</b>”. Por lo tanto, el acceso al “Servicio de CompraSegura” es exclusivamente del Usuario titular de una “Cuenta <b>Pormayor.pe</b>”, siendo esta personal, única e intransferible, estando prohibida su venta, cesión o transferencia, incluyendo la reputación y calificaciones ganadas por cada uno de los Usuarios.</p>
<br>
<b>c) <b>Pormayor.pe</b> no es empresa con actividades que formen parte del Sistema Financiero Peruano.</b><br>
<p> De manera expresa se señala que <b>Pormayor.pe</b> es una empresa que se dedica a actividades que no están vinculadas con las empresas financieras, bancarias, tampoco realiza operaciones con dinero electrónico, ni de transferencia de fondos que este bajo la supervisión por la Superintendencia de Banca, Seguros y AFPs, ni brinda servicios bancarios ni cambiarios al Usuario.</p>
<br>
<p><b>Pormayor.pe</b> sólo brinda Servicios de Gestión de Pagos de acuerdo a las instrucciones detalladas por el Usuario, tanto para realizar pagos o recibir pagos por cuenta y orden del Usuario, mediante el uso de la “Plataforma” brindada por <b>Pormayor.pe</b>, de acuerdo a lo indicado en los presentes Términos y Condiciones.</p>
<br>
<b>d) Intereses.</b><br>
<p>Ningún “monto total del pedido” depositado en la “Cuenta Recaudadora” de <b>Pormayor.pe</b> genera intereses, destinadas solo para concretar las operaciones contenidas en los presentes Términos y Condiciones, conforme a los plazos y mecanismos determinados en los mismos.</p> 
<br>
<p>e) Pagos en Moneda Extranjera.</p><br>
<p> Cada uno de los pagos serán realizados en moneda nacional de curso legal (Soles). En caso sea necesario realizar una conversión de dólares estadounidenses a soles para una operación, se usará el tipo de cambio promedio publicado al cierre del día anterior en la página web de la Superintendencia de Banca, Seguros y AFP (<a href="www.sbs.gob.pe">www.sbs.gob.pe</a>).</p>
<br>
<b>f) Tarifa por los Servicios de <b>Pormayor.pe</b>.</b><br>
<p> De manera expresa el Usuario acepta que por el uso de los Servicios pagará una comisión (en adelante la “Comisión”) a <b>Pormayor.pe</b> de acuerdo al Anexo Tarifas y Facturación de <b>Pormayor.pe</b>. El Usuario Vendedor autoriza a <b>Pormayor.pe</b> a realizar el descuento y/o retención de la “Comisión” o todo importe adicional de los “monto total del pedido” depositados en la “Cuenta Recaudadora”. De la misma manera, aprueba se realice el descuento y/o retención del “monto total del pedido” depositado para afrontar montos adeudados a empresas vinculadas con <b>Pormayor.pe</b>. Cabe precisar que la Comisión está vinculada sólo por el “Servicio de CompraSegura” en las operaciones realizadas por medio de <b>Pormayor.pe</b> (URL <a href="https://<b>Pormayor.pe</b>/">https://<b>Pormayor.pe</b>/</a> ).</p>
<br>
<b>g) Seguridad y Confidencialidad de datos personales.</b><br>
<p> Como medida de protección a los Datos Personales facilitados por los Usuarios salvo en las formas y casos establecidos en las Políticas de Privacidad <b>Pormayor.pe</b> no venderá, alquilará ni negociará con otras empresas. Cada uno de dichos Datos son procesados y almacenados en servidores o medios magnéticos bajo altos estándares de seguridad y protección tanto física como tecnológica, y serán utilizados para brindar y mejorar el “Servicio de CompraSegura” a los Usuarios. De manera expresa el Usuario autoriza a <b>Pormayor.pe</b> a compartir los Datos con las empresas vinculadas a ella o a quien se le hubiera cedido la posición contractual o sus derechos del presente “Contrato CompraSegura”, asimismo, a proveedores de servicios de valor agregado que se integren dentro del sitio o mediante links a otros sitios de Internet, todos ellos unidos solo para atender las necesidades de los Usuarios vinculados a los Servicios brindados por <b>Pormayor.pe</b>. Para mayor información, consulte las Política de privacidad de <b>Pormayor.pe</b>, que enmarca todo lo relacionado a los Datos Personales.</p>
<br>
<p><b>Pormayor.pe</b> buscará proteger y mantener la confidencialidad de los Datos Personales, sin embargo, no asume ninguna responsabilidad frente a perjuicios derivados de la violación a causa de terceros a través de las redes públicas o Internet.</p>
<br>
<b>h) Limitación de Responsabilidad por el Servicio.</b><br>
<p> <b>Pormayor.pe</b> no garantiza el acceso y uso continuado o ininterrumpido de la Plataforma, así como todo lo vinculado a la realización de una operación como: el “Servicio de CompraSegura” o las Herramientas de Venta. Ya que, eventualmente puede no estar disponible el sistema ya sea por dificultades técnicas o fallas de Internet en los links o Herramientas de Venta u otra circunstancia ajena a <b>Pormayor.pe</b>. Sin embargo se procurará restablecerlo lo más rápido posible sin significar algún tipo de responsabilidad, en conclusión <b>Pormayor.pe</b> no asume responsabilidad alguna por error u omisión de los contenidos en la Plataforma, ni por cualquier otra clase de daños, incluyendo daño emergente o lucro cesante, daños indirectos, especiales o consecuentes que surjan o experimenten los Usuarios.</p>
<br>
<b>i) Licencia Limitada.</b><br>
<p> Todo contenido presente en la Plataforma de <b>Pormayor.pe</b> con excepción del material que ha sido publicado por nuestros Usuarios es de propiedad de <b>Pormayor.pe</b>, y están protegidas por las leyes vigentes y tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. Es decir <b>Pormayor.pe</b> tiene los derechos intelectuales sobre: la Plataforma, Herramientas de Venta, Códigos, desarrollos, software, hardware, dominio, logos, emblemas, logotipos, diseños, estructura, contenidos, información, etc.</p>
<br>
<p>Sin perjuicio de lo antes dicho, <b>Pormayor.pe</b> otorga una licencia gratuita, no exclusiva y revocable al Usuario Vendedor, quien gozará de algún tipo de derecho que fuera transferido sobre las Herramientas de Venta que <b>Pormayor.pe</b> ofrece durante la vigencia del presente “Contrato CompraSegura”, utilizándolo para el cumplimiento de sus actividades en su sitio web haciendo relación directa al “Servicio de CompraSegura”, quedando totalmente prohibido su uso para otro fin.</p>
<br>
<b>j) Modificaciones de los Términos y Condiciones Generales de Uso.</b><br>
<p>El contenido descrito en los presentes Términos y Condiciones están sujetos a modificación y/o actualización en cualquier momento por parte de <b>Pormayor.pe</b>, estando vigente a los 10 (diez) días después de su publicación en la “Plataforma”. Asimismo, la notificación de las modificaciones y/o actualizaciones de los presentes Términos y Condiciones realizada por <b>Pormayor.pe</b> a los Usuarios, será vía correo electrónico, y al no estar de acuerdo con las modificaciones efectuadas por <b>Pormayor.pe</b>, podrá simplemente no utilizar el “Servicio de CompraSegura”. Y en caso, se dé por vencido este plazo establecido, se considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes, aplicando posteriormente a toda nueva “Orden de Pago” del Usuario.</p>
<br>
<p>Cabe indicar que la plena aceptación de estos Términos y Condiciones de Uso de <b>Pormayor.pe</b>, como así también de todas las demás políticas, anexos y principios que la rigen se configura con el uso de la “Plataforma” y/o sus “Servicios”.</p>
<br>
<b>k) Cesión.</b><br>
<p> El Usuario de manera expresa autoriza a <b>Pormayor.pe</b> a ceder, transferir, delegar o disponer de los derechos u obligaciones derivados del presente “Contrato CompraSegura”, así como de su posición contractual, total o parcialmente.</p>
<p>Queda totalmente prohibido que el Usuario ceda, transfiera, delegue o disponga los derechos u obligaciones derivados del presente “Contrato CompraSegura”, de forma total o parcial.</p>
<br>
<b>l) Terminación del Contrato.</b><br>
<p>En cualquier momento durante la vigencia del presente “Contrato CompraSegura” tanto <b>Pormayor.pe</b> y el Usuario podrán darlo por terminado sin pronunciamiento de causa, cerrando y dejando de usar el “Servicio de CompraSegura” de manera automática,  pero no suspenderá el cumplimiento de todas las “Órdenes de Pago” ya autorizadas por el Usuario al momento de registrarse la resolución del mencionado Contrato. Como requisito importante es que la parte que solicite la terminación del “Contrato CompraSegura” no tenga pendiente deudas el cumplimiento de alguna obligación a la otra parte ni a terceros involucrados en las operaciones.</p>
<br>
<p><b>Pormayor.pe</b> podrá dar por terminada la prestación del Servicio sin ningún tipo de aviso previo, en el caso de incumplimiento del Usuario a cualquiera de las obligaciones y condiciones del presente Contrato, o a la legislación aplicable en la materia. Asimismo, se reserva el derecho de reclamar los daños y perjuicios causado por tal incumplimiento.</p>
<br>
<b>m) Documentación.</b><br>
<p> De manera expresa el Usuario autoriza a <b>Pormayor.pe</b> y/o a quien designe a realizar grabaciones de las operaciones celebradas por el Usuario, y a ser utilizadas como medio probatorio ante cualquier autoridad en el ámbito administrativo y/o judicial. El Usuario está autorizado a hacer copias de los documentos relativos al Contrato.</p>
<br>
<p>Las constancias tanto de las instrucciones como de la “Orden de Pago” emitidas por <b>Pormayor.pe</b>, ambas partes le otorgan el mérito y valor probatorio de sus cumplimientos, sustituyendo a cualquier recibo, permitiéndose su presentación ante el Usuario o tercero interesado, con el alcance establecido en la legislación vigente.</p>
<br>
<b>n) Notificaciones.</b><br>
<p>Cada una de las notificaciones realizadas por <b>Pormayor.pe</b> a los Usuarios en su dirección de correo electrónico o su número telefónico principal señalados al momento de su registración serán consideradas válidas.</p> 
<br>
<b>o) Domicilios.</b><br>
<p> Se fija como domicilio de <b>Pormayor.pe</b>  en la Avenida Nicolás de Piérola 1131, Oficina 508, Cercado de Lima, Lima, Perú. El domicilio constituido por los Usuarios a los fines del “Contrato CompraSegura” es el domicilio consignado por los Usuarios en el formulario de su registración.</p>
<br>
<b>p) Anexos.</b><br>
<p>De manera integral e inseparable los siguientes documentos y/o secciones de <b>Pormayor.pe</b> incorporados por referencia, donde se detallan políticas de diferentes “Servicios” ofrecidos en el “Sitio”, forman parte de los Términos y Condiciones:</p>
<ul class="browser-default">
	<li><a class="pormayorUnico-text" href="https://pormayor.pe/Legal/">Reporte de Reclamos</a></li>
	<li><a class="pormayorUnico-text" href="https://pormayor.pe/Legal/centro">Tarifas y Facturación de <b>Pormayor.pe</b>.</a></li>
	<li><a class="pormayorUnico-text" href="https://pormayor.pe/Legal/">Términos y Condiciones de Uso de <b>Pormayor.pe</b>.</a></li>
	<li><a class="pormayorUnico-text" href="https://pormayor.pe/Legal/privacidad">Política de Privacidad de <b>Pormayor.pe</b>.</a></li>
	<li><a class="pormayorUnico-text" href="https://pormayor.pe/Legal/centro">Artículos prohibidos de <b>Pormayor.pe</b></a></li>
</ul>
<b>q) Solución de Controversias. </b><br>
<p>El Usuario de manera voluntaria y expresa acepta someter sus controversias o problemas a la decisión de <b>Pormayor.pe</b>, de acuerdo a las reglas señaladas en los presentes Términos y Condiciones, de acuerdo al caso y al extremo que sea aplicable.</p>
<br>
<p>Por lo tanto, los Usuarios acatarán la decisión final de <b>Pormayor.pe</b> cuando las partes que participan en una operación no lleguen a un acuerdo, y renuncian a realizar reclamo alguno contra <b>Pormayor.pe</b> con motivo de dicha decisión final.</p>
<br>
<p>La decisión final que emitirá <b>Pormayor.pe</b> solo será en caso que la controversia esté sujeta al mecanismo de Reclamación, para mayor detalle sobre la decisión final revisar su contenido.</p><br>
<b>r) Jurisdicción y ley aplicable.</b><br>
<p> El presente acuerdo estará regido en todos los extremos por las leyes vigentes en la República del Perú. Todo lo derivado del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometido a los tribunales competentes de la ciudad de Lima, Perú.</p>
</div>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l4 unidadSticky hide-on-small-only">
			<div class="card">
				<div class="card-content ">
					<h5>Índice</h5>
					<ul>
						<li><a class="pormayorUnico-text" href="#Capacidad">1. Capacidad</a></li>
						<li><a class="pormayorUnico-text" href="#Registracion">2. Registración de un Usuario</a></li>
						<li><a class="pormayorUnico-text" href="#Acceso">3. Acceso a los “Servicio de CompraSegura”.</a></li>
						<li><a class="pormayorUnico-text" href="#Gestion">4. Gestión de pagos. Mandato</a></li>
						<li><a class="pormayorUnico-text" href="#Proceso">5. Proceso del “Servicio de CompraSegura”</a></li>
						<li><a class="pormayorUnico-text" href="#Boton">6. Botón pedidos, cotizar y comprar</a></li>
						<li><a class="pormayorUnico-text" href="#marcas">7. Uso de marcas, logos y demás derechos de propiedad intelectual de los Vendedores.</a></li>
						<li><a class="pormayorUnico-text" href="#Reclamo">8. Reclamo</a></li>
						<li><a class="pormayorUnico-text" href="#Miscelaneas">9. Misceláneas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
<script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.sticky-kit.min.js')}}"></script>
<script>
	$('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(event) {
	    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	      if (target.length) {
	        event.preventDefault();
	        $('html, body').animate({
	          scrollTop: target.offset().top - 90
	        }, 1500, function() {
	          var $target = $(target);
	          $target.focus();
	          if ($target.is(":focus")) { 
	            return false;
	          } else {
	            $target.attr('tabindex','-1');
	            $target.focus(); 
	          };
	        });
	      }
	    }
  	});

	$('#indiceLegal').change(function() {
		var nombreIndice = $(this).val();
	    $('html, body').animate({
          scrollTop: $("#"+nombreIndice).offset().top - 100
        }, 1500);
  	});

	$(".unidadSticky").stick_in_parent({inner_scrolling: false,offset_top: 62,}).on("sticky_kit:stick", function(e) {
        $(this).css("z-index",500);
     }).on("sticky_kit:bottom", function(e) {
        $(this).css("z-index",10);
     }).on("sticky_kit:unbottom", function(e) {
        $(this).css("z-index",500);
    });
</script>
{% endblock %}
