{% extends "layout/intranet/template_lite.twig" %}
{% block head %}   
{% endblock %}

{% block content %}
<main class="container">
	<br class="hide-on-med-and-up"><br class="hide-on-med-and-up">
	<div class="row">
		<div class="col s12 m8 l8">
			<div class="card">
				<div class="card-content ">
					<h4>POLÍTICAS DE PRIVACIDAD Y CONFIDENCIALIDAD DE LA INFORMACIÓN </h4><br>
					<div class="divider"></div>
<br>
<div class="fontParrafo enfasisB"><b>Pormayor.pe</b> trabaja por proteger la privacidad de la información de los Usuarios, motivo por el cual se diseñó mecanismos de seguridad informática de protección de la información por precauciones y recaudos para resguardar su información. Forma parte de la actividad recoger, revelar información de los Usuarios así como de los visitantes de nuestro “Sitio”. Las Políticas de Privacidad puntualizan la información que <b>Pormayor.pe</b> recoge de sus Usuarios y visitantes, así como los diferentes usos dados a las mismas. Las precisiones contenidas en las Políticas es importante ponerlas en conocimiento de los Usuarios y visitantes del “Sitio”. Al registrarse y/o navegar en el “Sitio” de <b>Pormayor.pe</b>, el Usuario y/o el visitante da su consentimiento para utilizar su información personal de acuerdo a las siguientes descripciones:</div>
<br>
<div class="divider"></div>

<h5 id="Alcances">Alcances.</h5>
<div class="fontParrafo enfasisB">Este documento es parte integrante de los <a href="">Términos y Condiciones de Uso</a> de <b>Pormayor.pe</b>. El Usuario mediante su registración acepta las políticas aquí contenidas.</div>
<br>
<div class="divider"></div>

<h5 id="Derechos">Derechos de acceso, cancelación y rectificación de la información personal.</h5>
<div class="fontParrafo enfasisB"><p>El Usuario una vez registrado en <b>Pormayor.pe</b> tendrá el derecho a revisar, cancelar y cambiar (actualizar) la Información Personal que nos ha enviado durante el proceso de registración, garantizando y respondiendo, en cualquier caso, es el único responsable de la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se comprometen a mantenerla debidamente actualizada. La información sujeta a cambios son las siguientes:</p>
	<ul class="browser-default">
		<li>La información de la registración como: compañía, domicilio del negocio, número principal de teléfono, etc.</li>
		<li>la clave del usuario.</li>
	</ul>
<p>Cabe precisar que la Información Personal anterior no será retirada inmediatamente de los archivos e incluyendo los sistemas de soportes de seguridad. Por tanto, no se espera sea definitivamente borrada de nuestras bases de datos. Sin perjuicio de los cambios en la Información Personal de un Usuario, <b>Pormayor.pe</b> se reserva el derecho a conservarla en los archivos la Información Personal anterior por razones legales y técnicos que a continuación precisamos:</p>
<ul class="browser-default">
	<li>Por seguridad.</li>
	<li>Por control del fraude.</li>
	<li>Para resolver disputas o reclamaciones sobre la violación de los derechos de terceros en virtud del Contenido</li>
	<li>Para resolver disputas o reclamos sobre la información de contacto de un tercero como por ejemplo: número telefónico, domicilio, calle, etc, que fuera anunciada o transmitida sin consentimiento o como una forma de acoso.</li>
	<li>Por cumplir con un proceso legal</li>
	<li>Al detectar problemas o incidencias y solucionarlos cumpliendo con lo dispuesto en los Términos y Condiciones de Uso de <b>Pormayor.pe</b> por un período de tiempo determinado por la ley. </li>
</ul>
<p>Para proceder con la actualización de la Información Personal el Usuario debe ingresar en la sección  Perfil de Usuario, hacer clic en perfil, y luego en Datos Personales.</p>
<br>
<p>Las modificaciones de los Términos y Condiciones de estas Políticas de Privacidad y confidencialidad y/o las prácticas de envío de e-mails <b>Pormayor.pe</b> podrá realizarlos en cualquier. Procediendo a comunicar al Usuario mediante esta sección o el envío de un e-mail o publicándolo en la página principal u otras secciones del “Sitio”, de esa manera el Usuario se mantendrá informado de los cambios realizados.</p>
<br>
<p>En el caso de realizar cambios materiales en la forma de la Administración de la Información Personal de los Usuarios, se notificará por e-mail a cada uno de los afectados, de esa forma el Usuario decidirá si acepta o no que su Información Personal sea administrada de esa forma. En caso no aceptara las modificaciones, se disuelve el vínculo contractual manteniéndose la Información Personal en la forma que la que fue informada al momento de registrarse.<p>
<br>
<p>Para mayor información sobre la confidencialidad de tu Información Personal, sirva contactarnos por correo ordinario a: <a href="mailto:contacto@<b>pormayor.pe">contacto@pormayor.pe</a></p></div>
<br>
<div class="divider"></div>

<h5 id="información">La información recibida.</h5>
<div class="fontParrafo enfasisB"><p>El primer paso para acceder a los servicios de <b>Pormayor.pe</b> es registrarse, consignando ciertos datos personales ("Información Personal") completos y exactos como: nombre, número de documento o identificación válida, RUC, información física de contacto (como número de teléfono domicilio, dirección de e-mail, etc.). Datos que podrán ser solicitados, recabados, almacenados y adicionalmente confirmados, acudiendo a entidades públicas, empresas especializadas o centrales de riesgo, para lo cual el Usuario autoriza expresamente a <b>Pormayor.pe</b>. La información que se obtenga de estas entidades será tratada en forma confidencial.</p><br>
<p>El Usuario también podrá acceder al “Sitio” a través de su cuenta personal en una red social (Facebook) (en adelante “Cuenta Personal”), autorizando por la presente de manera expresamente que <b>Pormayor.pe</b> pueda acceder a la información dentro de ella en los siguientes extremos:</p>
	<ul class="browser-default">
		<li>Tener acceso sin límite de tiempo a la totalidad de la información contenida en su Cuenta Personal, incluyendo a su Información Personal, gustos, contactos, información sobre sus intereses u otro contenido almacenado en su Cuenta Personal.</li>
		<li>Incluir en dicha cuenta, mensajes, fotografías, videos y cualquier otro tipo de contenido.</li>
		<li>Enviar al correo electrónico del Usuario vinculado a la Cuenta Personal, información o mensajes en base lo indicado en la sección <b>"Uso que hacemos de la Información"</b> abajo.</li>
	</ul>
<p>Cierta información sobre la actividad de los usuarios y visitantes dentro del “Sitio” podrá ser recogida y almacenada automáticamente y retirada por <b>Pormayor.pe</b>, por ejemplo los siguientes:</p>
	<ul class="browser-default">
		<li>La URL de la que provienen (estén o no en nuestro sitio web)</li>
		<li>La URL que acceden seguidamente (estén o no en nuestro sitio web).</li>
		<li>El navegador que están usando</li>
		<li>Las direcciones IP.</li>
		<li>Las páginas visitadas.</li>
		<li>Las búsquedas realizadas.</li>
		<li>Las publicaciones, compras o ventas.</li>
		<li>Las calificaciones y réplicas ingresadas, comentarios, entre otra información.</li>
		<li>Almacenar la información de las correspondencias enviadas vía correo electrónico o cartas de enviados por los Usuarios o terceros en nuestro “Sitio”.</li>
		<li>Las direcciones de correos electrónicos.</li>

	</ul>
<p>En caso de que un Usuario muestre disconformidad con lo descrito podrá pedir dar de baja o cierre su solicitada de registración y/o el cierre de su cuenta o quitar de su cuenta y retirarse de la base de datos de <b>Pormayor.pe</b>. Para mayor información ver la sección <b>“Derechos de acceso, cancelación y rectificación de la información personal”</b> arriba.</p></div>
<br>
<div class="divider"></div>

<h5 id="Uso">Uso que hacemos de la información.</h5>
<div class="fontParrafo enfasisB"><p>Con el objetivo de mejorar los servicios que brinda <b>Pormayor.pe</b> se almacena y maneja cierta Información personal recabada de los Usuarios y terceros. por ello, la Información Personal que recabamos tiene las siguientes finalidades:</p>
	<ul class="browser-default">
		<li>Facilitar al Usuario Comprador y Usuario Vendedor a contactar directamente y oportunamente según la modalidad de la compra. <b>Pormayor.pe</b> brindará a los interesados sus datos personales (nombre, teléfonos, localidad y correo electrónico), por correo electrónico y/o por el “Sitio”. Información que está sujeta a un uso exclusivo con la realización de la operación originada en <b>Pormayor.pe</b>, por ello, por ningún motivo podrá ser utilizada para fines publicitarios o promocionales ajenas con <b>Pormayor.pe</b>, salvo expresa autorización del Usuario.</li>
		<li>Promover estudios internos sobre cuestiones vinculadas a los Usuarios como sus intereses, comportamientos y demografía y de esa manera identificar sus necesidades e intereses.</li>
		<li>Mejorar nuestras iniciativas comerciales y promocionales, analizando las páginas visitadas y búsquedas realizadas por los usuarios, para replantear las ofertas.</li>
		<li>Enviar información o mensajes por e-mail sobre nuevos servicios, ofertas, publicidad y noticias sobre <b>Pormayor.pe</b>.</li>
		<li>En el caso de concursos y/o promociones organizados por <b>Pormayor.pe</b> los ganadores autorizan expresamente al uso y difusión de su Información Personal, así como imágenes personales y familiares, por los medios que crea conveniente, con fines publicitario y/o promocional sin derecho a compensación alguna.</li>
		<li>Compartir toda Información Personal de los Usuarios con los proveedores de servicios o las empresas de "outsourcing" que participen o estén vinculadas a las operaciones, como las empresas de servicios de transporte, medios de pago, seguros o intermediarios en la gestión de pagos, call centers o programas de fidelidad, entre otros. Respetando lo establecido en los acuerdos o convenios respecto a la proteger la privacidad de los datos personales de los “Usuario”, estando libre de toda responsabilidad por algún tipo de uso indebido de la Información Personal del Usuario que hagan estas empresas o sitios de Internet. En caso se decida compartir la Información Personal con terceras no vinculadas a <b>Pormayor.pe</b>, se requerirá el consentimiento del Usuario.</li>
		<li>Brindar la Información Personal de los usuarios en caso de disputas a las entidades que intervengan en la solución de la misma, tal como: Juzgados competentes o Tribunales de Arbitraje.</li>
	</ul>
</div>
<div class="divider"></div>

<h5 id="Confidencialidad">Confidencialidad de la Información.</h5>
<div class="fontParrafo enfasisB"><b>Pormayor.pe</b> al recibir la Información Personal posterior a la registración en el “Sitio” no la venderá, alquilará  o compartirá salvo los Términos y Condiciones así como en las políticas. Sin perjuicio de ello, el Usuario autoriza en forma expresa que <b>Pormayor.pe</b> transfiera total o parcialmente la Información Personal a cualquiera de las empresas vinculadas a él, a cualquier título y en el momento, forma y condiciones que estime pertinentes, salvaguardando la privacidad de la información. Asimismo, en los casos descritos en la sección “Uso que hacemos de la información” arriba, <b>Pormayor.pe</b> no responderá por la información que sea revelada.</div>
<br>
<div class="divider"></div>

<h5 id="Clave">Clave Personal.</h5>
<div class="fontParrafo enfasisB">Una vez registrados los Usuarios, para acceder a los servicios reservados dispondrán de una clave personal. Con la cual podrá participar en las diferentes operaciones de <b>Pormayor.pe</b> como comprar, vender, ofertar, calificar, entre otras actividades. Por tanto, los Usuarios están obligados a mantener completa confidencialidad, evitando revelarla o compartirla con otras personas, asumiendo la responsabilidad frente al pago de tarifas que eventualmente se devenguen o por perjuicios que puedan sufrir otros Usuarios. y, en el caso en que un Usuario sospechara que un tercero conoce su clave, comunicará a <b>Pormayor.pe</b> solicitando modificar ingresando a la sección Perfil de Usuario o Tienda >Perfil > Cambiar Contraseña.</div>
<br>
<div class="divider"></div>

<h5 id="Menores">Menores de Edad.</h5>
<div class="fontParrafo enfasisB">Todos los servicios brindados por <b>Pormayor.pe</b> están disponibles sólo para aquellas personas con capacidad legal para contratar a nombre y representación de una empresa como así también de obligar a la misma en los <a href="">Términos y Condiciones de Uso</a> de <b>Pormayor.pe</b>. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar Información Personal para ser incluida en nuestras bases de datos.</div>
<br>
<div class="divider"></div>

<h5 id="usoInformacion">El uso de la información por otros Usuarios.</h5>
<div class="fontParrafo enfasisB"><p>Con el objetivo de mejorar las relaciones entre Usuarios, así como facilitar la interacción entre ellos, el servicio de <b>Pormayor.pe</b> permite un acceso limitado a ciertos datos de contacto para con el resto de Usuarios, tales como Nombre de usuario, Teléfonos, y dirección de correo electrónico. Los Usuarios podrán utilizar la Información Personal obtenida en el “Sitio” para:</p>
	<ul class="browser-default">
		<li>Sólo las comunicaciones relacionadas con <b>Pormayor.pe</b>.</li>
		<li>Solicitar nuevos servicios ofrecidos en <b>Pormayor.pe</b> (como: depósito, seguros, envío o transporte)</li>
		<li>Atender cualquier otra finalidad a la que el Usuario consienta expresamente una vez le hayan sido comunicadas previamente la información legalmente requerida.</p></li>
	</ul>
<p>Ninguna Información Personal o dirección de correo electrónico de un Usuario podrá ser compartida con otro Usuario o tercero sin nuestro consentimiento y del mismo.</div>
<br>
<div class="divider"></div>

<h5 id="Cookies">Cookies</h5>
<div class="fontParrafo enfasisB"><p>Mediante la presente autorizan tanto el Usuario y el visitante del “Sitio” de <b>Pormayor.pe</b>, aceptándo que <b>Pormayor.pe</b> podrá utilizar un sistema de seguimiento mediante la utilización de cookies, los cuales son pequeños archivos que se instalan en el disco duro, que cuenta con un tiempo limitado que ayudarán a personalizar los servicios a brindarse, siendo el uso de los Cookies indispensable para ciertas funcionalidades del Sitio web <b>Pormayor.pe</b>. De la misma manera, <b>Pormayor.pe</b> podrá agregar Cookies en los e-mails que envíe para medir la efectividad de las ofertas.</p>
<br>
<p>La finalidad del uso de las Cookies es conocer los intereses, el comportamiento y la demografía de los Usuarios y visitantes del “Sitio”, identificando mejor sus necesidades e intereses para:</p>
	<ul class="browser-default">
		<li>Brindar un mejor servicio.</li>
		<li>Proveer información relacionada.</li>
		<li>Analizar las páginas navegadas por el visitante o usuario.</li>
		<li>Analizar las búsquedas realizadas.</li>
		<li>Mejorar nuestras iniciativas comerciales y promocionales.</li>
		<li>Mostrar publicidad o promociones, banners de interés.</li>
		<li>Perfeccionar nuestra oferta de contenidos y artículos.</li>
		<li>Personalizar dichos contenidos, presentación y servicios.</li>
		<li>Promover y hacer cumplir las reglas y seguridad del “Sitio”. </li>
		<li>Evitar que el Usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación.</li>
		<li>Contabilizar y corroborar las registraciones, la actividad del Usuario y otros conceptos para acuerdos comerciales.</li>
		<li>Poder ofrecer una experiencia más interactiva en el “Sitio”, basada en las acciones del Usuario.</li>
	</ul>
<p><b>Pormayor.pe</b> velará que la instalación de las “Cookies” siempre sea en beneficio del Usuario que la recibe, y de no ser usado con otros fines ajenos a <b>Pormayor.pe</b>.</p>
<br>
<p>Se establece que tanto la instalación, permanencia y existencia de las “Cookies” serán en el computador del Usuario dependiendo de su exclusiva voluntad, pudiendo ser eliminada de su computador cuando el Usuario así lo crea conveniente, Cabe indicar que el Usuario podrá configurando el navegador para que solicite aprobación antes de almacenar “Cookies” o directamente evitar que se almacenen “Cookies”, para saber más de cómo quitar las “Cookies” del sistema es necesario revisar la sección Ayuda (Help) del navegador.</p>
<br>
<p>Adicionalmente, se pueden encontrar “Cookies” u otros sistemas similares instalados por terceros en ciertas páginas de nuestro “Sitio”. Por ejemplo, al navegar por una página creada por un usuario, puede que exista una “Cookie” emplazada en tal página.</p> 
<br>
<p>Este procedimiento se realiza de forma diferente en los distintos navegadores. A continuación se indica los diferentes procedimientos para manejar esta configuración en los navegadores más utilizados:</p>
	<ul class="browser-default">
		<li><a class="pormayorUnico-text" href="https://support.microsoft.com/es-ar/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft Windows Explorer </a></li>
		<li><a class="pormayorUnico-text" href="https://support.google.com/chrome/answer/95647?hl=es&p=cpn_cookies<">Google Chrome</a></li>
		<li><a class="pormayorUnico-text" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">Mozilla Firefox</a></li>
		<li><a class="pormayorUnico-text" href="https://support.apple.com/kb/PH21411?viewlocale=es_US&locale=es_US">Apple Safari</a></li>
	</ul>
<p>Es importante precisar que estas políticas cubren el uso de “Cookies” por este “Sitio” y no el uso de “Cookies” por parte de anunciantes. Es decir, que no se controla el uso de Cookies por terceros.</p></div>
<br>
<div class="divider"></div>

<h5 id="Spam">Spam</h5>
<div class="fontParrafo enfasisB">Las conductas consideradas "spamming", ya sea en opiniones, preguntas, respuestas y/o el envío no solicitado de correos electrónicos no son aceptadas por <b>Pormayor.pe</b> y los Usuarios. Estando prohibido el envío indiscriminado de mensajes de cualquier naturaleza entre los usuarios del “Sitio”. <b>Pormayor.pe</b> se reserva el derecho de suspender o inhabilitar definitivamente a aquellos usuarios que violen lo estipulado.</div>
<br>
<div class="divider"></div>

<h5 id="Orden">Orden de autoridades competentes - Requerimientos Legales</h5>
<div class="fontParrafo enfasisB"><b>Pormayor.pe</b> mediante la presente autorización expresa de los Usuarios, comunicar revelar Información Personal suyos con la finalidad de colaborar con las autoridades y con otros terceros para garantizar el cumplimiento de las leyes, como en los casos de protección de derechos de propiedad industrial e intelectual, prevención del fraude y otras materias, asimismo, podrá revelar la Información Personal de sus Usuarios bajo requerimiento de la autoridades judiciales o gubernamentales competentes para efectos de investigaciones conducidas por ellas, aunque no exista una orden ni una citación ejecutiva o judicial, o por ejemplo (y sin limitación a este supuesto) cuando se trate de investigaciones de carácter penal o de fraude o las relacionadas con piratería informática o la violación de derechos de autor u otra actividad que sea ilegal o que pueda exponer a <b>Pormayor.pe</b> o a sus Usuarios a cualquier responsabilidad legal, de la misma manera, <b>Pormayor.pe</b> se reserva el derecho (siendo autorizado expresamente por el Usuario) de comunicar información sobre sus Usuarios a otros Usuarios, entidades o terceros, al existir indicios suficientes para considerar que la actividad de un Usuario sea sospechosa de intentar o cometer un delito o intentar perjudicar a otras personas. Este derecho será utilizado salvaguardando la integridad y la seguridad de la Comunidad y la de sus Usuarios.</div>
<br>
<div class="divider"></div>

<h5 id="Seguridad">Seguridad. Almacenamiento de la información</h5>
<div class="fontParrafo enfasisB"><p><b>Pormayor.pe</b> está obligado a cumplir con toda la normativa sobre materia de medidas de seguridad aplicables a la Información Personal. De la misma manera, establece estándares de la industria entre materia de protección de la confidencialidad de su Información Personal, incluyendo, en otras medidas, cortafuegos ("firewalls") y Secure Socket Layers ("SSL"). Parte de las Políticas de <b>Pormayor.pe</b> al tomar a los datos de los Usuarios como un activo debidamente protegido de cualquier pérdida o acceso no autorizado, utilizando diversas técnicas de seguridad para su protección en todos los ámbitos.</p>
<br>
<p><b>Pormayor.pe</b> no se hace responsable por aquellos actos realizados en contra de la Información Personal del Usuario protegida como las interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas, asimismo, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios.</p>
<br>
<p>Todos los datos personales de los Usuarios serán almacenados en un fichero automatizado de datos personales. <i>El fichero de Datos Personales (o servidor) de los Usuarios de <b>Pormayor.pe</b> reside en EE.UU. El Usuario al registrarse en <b>Pormayor.pe</b> confirma que está informado de la residencia de este fichero y autoriza esta transferencia internacional de sus datos.</i></p></div>

				</div>
			</div>
		</div>
		<div class="col s12 m4 l4 unidadSticky hide-on-small-only">
			<div class="card">
				<div class="card-content ">
					<h5>Índice</h5>
					<ul>
						<li><a class="pormayorUnico-text" href="#Alcances">Alcances</a></li>
						<li><a class="pormayorUnico-text" href="#Derechos">Derechos de acceso, cancelación y rectificación de la información personal</a></li>
						<li><a class="pormayorUnico-text" href="#información">La información recibida</a></li>
						<li><a class="pormayorUnico-text" href="#Uso">Uso que hacemos de la información</a></li>
						<li><a class="pormayorUnico-text" href="#Confidencialidad">Confidencialidad de la Información</a></li>
						<li><a class="pormayorUnico-text" href="#Clave">Clave Personal</a></li>
						<li><a class="pormayorUnico-text" href="#Menores">Menores de Edad</a></li>
						<li><a class="pormayorUnico-text" href="#Cookies">Cookies</a></li>
						<li><a class="pormayorUnico-text" href="#Spam">Spam</a></li>
						<li><a class="pormayorUnico-text" href="#Orden">Orden de autoridades competentes - Requerimientos Legales</a></li>
						<li><a class="pormayorUnico-text" href="#Seguridad">Seguridad. Almacenamiento de la información</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
<script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.sticky-kit.min.js')}}"></script>
<script>
	$('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(event) {
	    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	      if (target.length) {
	        event.preventDefault();
	        $('html, body').animate({
	          scrollTop: target.offset().top - 90
	        }, 1500, function() {
	          var $target = $(target);
	          $target.focus();
	          if ($target.is(":focus")) { 
	            return false;
	          } else {
	            $target.attr('tabindex','-1');
	            $target.focus(); 
	          };
	        });
	      }
	    }
  	});

	$('#indiceLegal').change(function() {
		var nombreIndice = $(this).val();
	    $('html, body').animate({
          scrollTop: $("#"+nombreIndice).offset().top - 100
        }, 1500);
  	});

	$(".unidadSticky").stick_in_parent({inner_scrolling: false,offset_top: 62,}).on("sticky_kit:stick", function(e) {
        $(this).css("z-index",500);
     }).on("sticky_kit:bottom", function(e) {
        $(this).css("z-index",10);
     }).on("sticky_kit:unbottom", function(e) {
        $(this).css("z-index",500);
    });
</script>
{% endblock %}
