{% extends "layout/intranet/template_adm.twig" %}
{% block head %}
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row infoCointainer" id="addLocal">
      <div class="col ">



      </div>
    </div>
    </main>
{% endblock %}

{% block script %}
    
{% endblock %}
