<div id="modalContrato" class="modal">
    <div class="modal-content validar modalCustomPro" style="background-color:white">
      <a class="modal-close modal-close-custom right" data-dismiss="modal" data-position="bottom" data-tooltip="Cerrar ventana"><i class="material-icons  closeIconA">close</i></a>
        <h5 class="headerModal z-depth-2 pormayor pormayorAccent-text">Terminos y condiciones</h5>
        <div class="terminos" style="margin: 0 auto; width:95%;padding-top: 30px;">
            <span>
                Condiciones de uso de PorMayor.pe
            </span>
            <ul>
                <li>
                    1.    En la plataforma puedes crear tu tienda online y  publicar todo los productos que tengas para venta por mayor.  Tus datos como dirección de negocio y teléfonos son visibles para todos los usuarios registrados y puedas comunicarte con ellos al toque.
                </li>
                <li>
                    2.    La plataforma otorga un uso gratuito a los vendedores por 3 meses a todo los que se hayan registrado hasta el 31 de diciembre de 2018.
                </li>
                <li>
                    3.    A partir de 1 de abril 2019 SIGUE GRATIS todo ese mes siempre que hayan realizado mínimo 8 ventas en el mes anterior  utilizando sistema CompraSegura.  Para los siguientes meses aplica igual condición. Caso contrario aplica tarifa de plan de 3, 6 o 12 meses (S/119, S/199 y S/359 respectivamente)
                </li>
                <li>
                    4.    Cuando llegas a realizar las 8 operaciones o más en alguno de los meses pagados,  aplica descuento que será acumulado y utilizado al término del periodo contratado.
                </li>
            </ul>
            <span>Condiciones de sistema CompraSegura</span><br><br>
                Esto sistema nace debido a que muchos clientes tienen temor a ser estafados cuando hagan sus compras por internet y no desean hacer envíos a  los vendedores. Por tal razón, este sistema actúa intermediando en tus ventas. Tus clientes depositan mediante un código a PorMayor.pe S.A en un Banco en convenio,  tú le envías su pedido a tu cliente, este te confirma su recepción y al toque está tu dinero en tu cuenta de cualquier parte del Perú. Su costo es de S/5 soles por transacción  para los vendedores. <br>
                Este sistema te hace ahorrar dinero ya que es más económico que una transferencia normal de dinero de provincia a otra provincia del Perú. Ejemplo: Los bancos cobran mínimo S/7.5, pero si es mas de S/1500 soles ya te cobran 0.5% del monto total a transferir (de S/5000 es 25 soles, de S/10,000 es 50 soles). Pero mediante CompraSegura solo te va costar S/5 por cualquier monto que sea, gracias a convenio que se tiene con algunos Bancos. Aplica para pagos mediante transferencia, deposito en agentes, ventanilla, cajeros (no aplica tarjetas de crédito). 
                <br><br>
                Beneficios de CompraSegura:
            <ul>
                <li>
- Hace que tus ventas sean más atractivas y seguras para tus clientes compradores
                </li>
                <li>
- Pago asegurado siempre que hayas cumplido con entregar al pedido hecho
                </li>
                <li>
- Mejora tu reputación en las compras por internet
                </li>
                <li>
- Hace incrementar tus ventas por internet.
                </li>
            </ul>
        </div>
    </div>
</div>