{% extends "layout/intranet/template_lite.twig" %}
{% block head %}
{% endblock %}
{% block content %}
  <main class="container">
    <div class="row">
      <div class="col s12 l6 offset-l3">
        {{ form_open("", {role: 'form', id: 'formulario_reset', class:'form form-horizontal formValidate', method:'post', novalidate:'novalidate'}) }}
          <div class="card">
            <div class="card-content center sinPadding sinPadding">
              <div class="row cardContentFix centrarForzado">
                <br>
                <div class="col s12">
                  <i class="material-icons large grey-text text-lighten-1 grey lighten-3 iconLock sinUser transitionB" style="padding:20px;border-radius:50% ">lock</i>
                </div>
                <div class="col s12">
                  <h5 class="negrita enfasisA">Restablecer contraseña</h5>
                </div>
{#   #}
                <div class="col s12 l12">
                  <div class="input-field">
                    <label for="correo">Nueva Contraseña</label>
                    <input name="clave" {% if userAgent != "PC" %}type="text" {% else %}type="password" {% endif %} id="clave" class=".form-group centrarForzado" required="">
                  </div>
                </div>
                <div class="col s12 l12">
                  <div class="input-field">
                    <label for="correo">Confirmar Nueva Contraseña</label>
                    <input name="clave2" {% if userAgent != "PC" %}type="text" {% else %}type="password" {% endif %} id="clave2" class=".form-group centrarForzado" required="">
                  </div>
                </div>
                <div class="col s12 l12 right-align">
                  <br class="hide-on-large-only">
                  {% if userAgent == "PC" %}
                    <a class="btn-flat pormayorUnico-text sinUser mostrarPassword" style="opacity:.8"><i class="material-icons left">visibility</i>Mostrar Contraseña</a>
                    <a class="btn-flat pormayorUnico-text sinUser ocultarPassword hide" style="opacity:.8"><i class="material-icons left">visibility_off</i>Ocultar Contraseña</a>
                  {% else %}
                    <a class="btn-flat pormayorUnico-text sinUser mostrarPassword hide" style="opacity:.8"><i class="material-icons left">visibility</i>Mostrar Contraseña</a>
                    <a class="btn-flat pormayorUnico-text sinUser ocultarPassword" style="opacity:.8"><i class="material-icons left">visibility_off</i>Ocultar Contraseña</a>
                  {% endif %}
                  
                </div>
              </div>
            </div>             
            <div class="card-action center">
                <input type="submit" name="btnCambiar" value="Cambiar Contraseña" class="btn btnCambiar pormayorUnico white-text ">
            </div>
          </div>

          <!-- <div class="card">
            <div class="card-content center">
              <div class="pormayorAccent col s12 center white-text" style="padding: 5px">
                <h5>Reestablecer contraseña</h5>
              </div>
            </div>
            <div class="card-content grey lighten-4">
              <div id="dpersonales" class="setup-content">
                <br>
                <div class="input-field">
                  <label for="correo">Nueva Contraseña</label>
                  <input name="clave" type="password" id="clave" class=".form-group" required="">
                </div>
                <div class="input-field">
                  <label for="correo">Confirmar Nueva Contraseña</label>
                  <input name="clave2" type="password" id="clave2" class=".form-group" required="">
                </div>
              </div>
            </div>                                 
            <div class="card-action center">
              <input type="submit" name="btnCambiar" value="Cambiar Contraseña" class="btn btnCambiar pormayorAccent white-text ">
            </div>
          </div> -->
        {{ form_close() }}
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script>
    //Botones
    $('.mostrarPassword').click(function(){
      $(this).addClass('hide');
      $('.ocultarPassword').removeClass('hide');
      $('#clave').attr('type', 'text');
      $('#clave2').attr('type', 'text');
    });

    $('.ocultarPassword').click(function(){
      $(this).addClass('hide');
      $('.mostrarPassword').removeClass('hide');
      $('#clave').attr('type', 'password');
      $('#clave2').attr('type', 'password');
    });

    var password_suma = 0;
    // $('#clave').keyup(function(){
    //   var actual = $(this).val();
    //   var password_largo = $(".pass_largo");
    //   var password_especial = $(".pass_especial");
    //   var password_numero = $(".pass_numero");
    //   var password_letras = $(".pass_letras");
      
    //   var password_test_especial = new RegExp("^(?=.*[a-z])");
    //   var password_test_numero = new RegExp("^(?=.*[0-9])");
    //   var password_test_letras = new RegExp("^(?=.*[A-Z])");

    //   if (actual.length > 7) {
    //     password_largo.addClass('green-text');
    //     if (password_largo.attr("data-test") == "") {
    //       password_suma = password_suma + 1;
    //       password_largo.attr("data-test", "test");
    //     }
    //   }else{
    //     password_largo.removeClass('green-text');
    //     if (password_largo.attr("data-test") == "test") {
    //       password_suma = password_suma - 1;
    //       password_largo.attr("data-test", "");
    //     }
    //   }

    //   if(password_test_especial.test(actual)) {
    //     password_especial.addClass('green-text');
    //     if (password_especial.attr("data-test") == "") {
    //       password_suma = password_suma + 1;
    //       password_especial.attr("data-test", "test");
    //     }
    //   }else{
    //     password_especial.removeClass('green-text');
    //     if (password_especial.attr("data-test") == "test") {
    //       password_suma = password_suma - 1;
    //       password_especial.attr("data-test", "");
    //     }
    //   }

    //   if(password_test_numero.test(actual)) {
    //     password_numero.addClass('green-text');  
    //     if (password_numero.attr("data-test") == "") {
    //       password_suma = password_suma + 1;
    //       password_numero.attr("data-test", "test");
    //     }
    //   }else{
    //     password_numero.removeClass('green-text');
    //     if (password_numero.attr("data-test") == "test") {
    //       password_suma = password_suma - 1;
    //       password_numero.attr("data-test", "");
    //     }
    //   }

    //   if(password_test_letras.test(actual)) {
    //     password_letras.addClass('green-text');  
    //     if (password_letras.attr("data-test") == "") {
    //       password_suma = password_suma + 1;
    //       password_letras.attr("data-test", "test");
    //     }
    //   }else{
    //     password_letras.removeClass('green-text');
    //     if (password_letras.attr("data-test") == "test") {
    //       password_suma = password_suma - 1;
    //       password_letras.attr("data-test", "");
    //     }
    //   }

    //   if (password_suma == 2) {
    //     $(".iconLock").addClass('red-text');
    //     $(".iconLock").removeClass('grey-text');
    //   }else if (password_suma == 3) {
    //     $(".iconLock").removeClass('red-text');
    //     $(".iconLock").addClass('amber-text');
    //   }else if (password_suma == 4) {
    //     $(".iconLock").removeClass('amber-text');
    //     $(".iconLock").addClass('green-text');
    //   }else if (password_suma == 0 || password_suma == 1){
    //     $(".iconLock").addClass('grey-text');
    //     $(".iconLock").removeClass('amber-text');
    //     $(".iconLock").removeClass('green-text');
    //     $(".iconLock").removeClass('red-text');
    //   }
    // });

    //Guardar contraseña
    var sendForm  = false;
    $('#formulario_reset').submit(function(e){
    var password_test = new RegExp("^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])(?=.{7,})");

      if (sendForm == false) {
          e.preventDefault();
      }

      if (sendForm == false){
        if ($("#clave").val() == $("#clave2").val()) {
          // if (password_test.test($("#clave").val())) {       
            
            
            $.confirm({
              icon: 'lock_open',
              theme: 'modern',
              closeIcon: false,
              animation: 'scale',
              type: 'green',
              title: 'Nueva contraseña',
              columnClass: 'small',
              content: 'Tu nueva contraseña fue guardada exitosamente, ahora puedes iniciar sesión con ella',
              draggable: false,
              buttons: {
                  Entendido:    {   
                      btnClass: 'btn pormayorUnico',                 
                      action: function (){
                        sendForm = true;
                        $('#formulario_reset').trigger('submit');
                       //$('.btnCambiar').trigger('click');
                      }       
                  },
              }
            });
          // }
          // else{
          //   Materialize.toast('<i class="material-icons left ">warning</i>La contraseña no cumple con los requisitos válidos', 2000, 'rounded warningToast');
          // }
        }else{
          Materialize.toast('<i class="material-icons left ">error</i>Las contraseñas no son iguales', 2000, 'rounded errorToast');
        }
        
      }
    });
  </script>
{% endblock %}